	/*---------- GENERAL STYLES ----------*/
body {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	-webkit-font-smoothing: antialiased;
}
.body-login{
	height: 100%;
} 
.color-overlay-image {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -2;
	background-image: url(../images/admin/3-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.color-overlay {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -1; 
	background: -webkit-linear-gradient(left, rgba(86, 128, 191, .7) 10%, rgba(86, 191, 155, .2) 90%);
	background: -moz-linear-gradient(left, rgba(86, 128, 191, .7) 10%, rgba(86, 191, 155, .2) 90%);
	background: -ms-linear-gradient(left, rgba(86, 128, 191, .7) 10%, rgba(86, 191, 155, .2) 90%);
	background: -o-linear-gradient(left, rgba(86, 128, 191, .7) 10%, rgba(86, 191, 155, .2) 90%);
	background: linear-gradient(left, rgba(86, 128, 191, .7) 10%, rgba(86, 191, 155, .2) 90%);
}
table{
	margin: 0 0 .5em;
}
input[type=number],
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
.JSkolicinaInput::-webkit-outer-spin-button,
.JSkolicinaInput::-webkit-inner-spin-button {
	 opacity: 1;
	margin: 0;
	-moz-appearance: textfield;  
}
button:hover, button:focus, .button:hover, .button:focus{
	background-color: transparent;
	color: inherit;
    outline: none;
} 
.relative{ position: relative; }
.inline-block { display: inline-block; }
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #5680bf;
	outline: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	font-size: 1.4em;
}
h2 {
	font-size: 1.1em;
}
h3, h4 {
	font-size: 1em;
}
.huge {
	font-size: 68px;
	line-height: 1.05;
	letter-spacing: -1px;
}
.large {
	font-size: 42px;
	line-height: 1.14;
}
.bigger {
	font-size: 26px;
	line-height: 1.38;
}
.big {
	font-size: 22px;
	line-height: 1.38;
}
.small {
	font-size: 10px;
	line-height: 1.2;
}
button.submit, a.submit {
	padding: 5px;
	font-size: .9em;
	border: none;
}
.no-margin {
	margin: 0 !important;
}
.h3-margin {
	margin: 20px 0;
}
.h3-margin--no-top {
	margin-top: 14px;
}
.text-alert {
	color: #e74c3c;
}
.text-succes {
	color: #2ecc71;
}
.text-danger {
	color: #f1c40f;
}
/*--- FOUNDATION OVERRIDES ---*/
.medium--0-5 {
	width: 4.166665%;
}
.row {
	max-width: 100%;
}
.row .row {
	margin: 0;
} 

[class*="column"]+[class*="column"]:last-child {
	float: left;
}
input[type="submit"] {
	border: none;
	background: none;
}
input[type="checkbox"], input[type=radio] {
	display: inline-block;
    margin: 0 5px;
}
label {
	margin: 8px 0 0;
	cursor: default;
}
textarea {
	resize: none;
} 
input, label, textarea { 
	font-size: .9em;
}
input[type="checkbox"]+label, input[type="radio"]+label{
	margin: 5px;
}
button {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
textarea, input[type="text"], input[type="email"], input[type="number"], input[type="password"], select {
	height: 21px;
    line-height: 15px;
	border: none;
	margin: 0;
	border: 1px solid #d0d0d0;
	border-radius: 0 !important;
	padding: 0 5px;
	box-shadow: none;
	color: #000;
	font-size: 12px;
    background-color: #fff;
}
textarea {
    line-height: 1.5;
    padding: 5px;
    min-height: 70px;
}
textarea[name^="napomena"]{
	min-height: 50px;
}
textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="email"]:numberus, input[type="password"]:focus {
	border-color: #BDBDBD;
}
textarea.error, select.error, input[type="text"].error, input[type="email"].error, input[type="email"].numberor, input[type="password"].error {
	border-color: #F45353;
}
.prefix, .postfix {
	height: 21px !important;
	line-height: 21px !important;
}
.error {
    color: #F45353;
    font-size: 13px;
}
#message_import { position: relative; }

#message_import .error { 
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    z-index: 180;
    border: 1px solid #F45353;
    box-shadow: 1px 1px 5px #bbb;
    padding: 10px;
    min-width: 400px;
    font-weight: 600;
}
.input-group {
	margin-bottom: 15px;
}
.input-group .input-group__flex {
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
}
.input-group .input-group__flex button {
	margin-left: 10px;
}
.inpput-margin-hor {
	margin-left: 10px;
	margin-right: 10px;
}
/*--- PLUGINS ---*/
/*============================================
=            JQUERY UI OVERWRITE             =
============================================*/
/*- DATEPICKER -*/
#ui-datepicker-div {
	display: none;
	width: 200px;
	font-size: .8em;
	box-shadow: 0 0 2px 0 #666;
	background: #fff;
}
.ui-datepicker-header {
	padding: 10px;
	text-align: right;
	background: #eee;
}
.ui-datepicker-title {
	float: left;
	color: #888;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-left: 5px;
	color: #666;
	text-align: center;
	box-shadow: 0 0 2px 0 #bbb;
	border-radius: 100%;
	background-color: #fff;
	background-image: url('../images/admin/datepicker-arrows.png');
	background-repeat: no-repeat;
	cursor: pointer;
}
.ui-datepicker-prev {
	background-position: 0 0;
}
.ui-datepicker-next {
	background-position: -20px 0;
}
.ui-datepicker-prev span, .ui-datepicker-next span {
	display: none;
}
.ui-datepicker-calendar {
	width: 96%;
	margin-left: 2%;
	margin-bottom: 5px;
}
.ui-datepicker-calendar th span {
	color: #aaa;
}
.ui-datepicker-calendar td {
	color: #aaa;
	text-align: center;
	border: 1px solid #aaa;
}
.ui-datepicker-calendar td:hover {
	background: #666;
}
.ui-datepicker-calendar td a {
	color: #aaa;
}
.ui-datepicker-calendar td:hover a {
	color: #fff;
}
.ui-widget-content {
	border: none !important;
}
/*=====  End of JQUERY UI OVERWRITE   ======*/
/*===============================
=            BUTTONS            =
===============================*/
.btn-container {
	margin: 5px 0;
}
.btn-container.no-margin-top {
	margin-top: 0;
}
.btn-container.no-margin-bottom {
	margin-bottom: 0;
}
.btn-container.left {
	text-align: left;
}
.btn-container.center {
	text-align: center;
}
.btn-container.right {
	text-align: right;
}
.btn-circle.small {
	display: inline-block;
	padding: 0 !important;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 0;
	margin: 0 !important;
}
.btn-create{
	background-color: rgba(67, 172, 106, 0.67);
	transition: 0.1s ease-in-out;
}
.btn-create:hover{
    background-color: #fff;
    border: 1px solid #61c1ce;
}
a.btn, button.btn, input.btn {
	display: inline-block;
    padding: 4px 9px;
    margin: 2px;
    text-align: center;
    font-size: 12px;
    color: #000;
    border: 1px solid #ddd;
}
.btn.btn-primary {
	background: #eaeaea;
}
.btn.btn-secondary {
    background: rgba(170, 170, 170, 0.25);
}
.btn.btn-round {
	border-radius: 45px;
}
.btn.btn-block {
	display: block;
	width: 100%;
}
.btn.btn-small {
	font-size: 11px;
	padding: 2px 9px;
}
.btn.btn-xm {
	font-size: 10px;
	padding: 3px 6px;
	margin-right: 3px;
}
.setting-button {
	padding: 3px 10px;
	text-align: center;
	font-size: 10px;
	border-radius: 2px;
	font-weight: 300;
	color: #9F9F9F;
	background: #DFDFDF;
}
.setting-button.active {
	background: #5680bf;
    color: #fff !important;
}
.setting-button:hover {
	background: #5680bf;
}
.edit-article-btn {
	height: 18px;
	line-height: 18px;
	padding: 0 15px !important;
}
.btn-icon {
	display: inline-block;
	padding: 0 !important;
	line-height: 26px;
	text-align: center;
	width: 35px !important;
}
.btn-float-fixed {
    display: inline-block;
    text-align: center;
    color: #fff !important;
    font-size: 16px;
    padding: 2px 10px;
    position: absolute;
    top: 10px;
    left: 150px;
    box-shadow: 2px 2px 5px #bbb;
    transition: box-shadow 0.15s ease-in-out;
    background: rgba(67, 172, 106, 0.67);
}
.btn-float-fixed:hover {
    box-shadow: 2px 2px 20px #bbb;
}
.btn-float-fixed.fixed-bottom {
	top: auto;
	bottom: 16px;
}
/*============*/
.txt-modal div label{
	margin: 0 20px 0 0;
} 
.txt-modal .title-txt {
    padding: 2px 10px;
    margin: 10px 0;
    background: #f2f2f2;
}
/*=====  End of BUTTONS  ======*/
.flat-box {
	background: #fff;
    padding: 3px 5px;
    margin: 10px 0 !important;
    box-shadow: 2px 2px 3px rgba(170, 170, 170, 0.28); 
}
.flat-box::after, .flat-box::before {
    content: " ";
    clear: both;
    display: table;
}
.flat-box ul {
	padding: 5px;
}
.import-content .flat-box ul {
	padding: 0;		
}
.flat-box.margin-ver {
	margin-bottom: 6px;
}
.flat-box.margin-hor {
	margin: 0 30px;
}
.flat-box.margin {
	margin: 5px 10px;
}

.padding-h-8 {
    padding-right: 8px;
    padding-left: 8px;
}
/*--- FEATURES ---*/
/*- SELECT FIELD -*/
.select-field {
	float: right;
	position: relative;
	margin-left: 8px;
	padding: 2px 23px 2px 8px;
	color: #fff;
	background-color: #aaa;
	background-image: url('../images/mini-icons.png');
	background-repeat: no-repeat;
	cursor: pointer;
}
.select-field ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	background-color: #ccc;
}
.select-field li {
	padding: 3px 23px 3px 8px;
	border-bottom: solid 1px #f0f0f0;
}
.select-field li:last-child {
	border-bottom: none;
}
.select-field li:hover {
	background-color: #bbb;
}
/*- POPUP -*/
.popup {
	position: fixed;
	display: block;
	width: 100%;
	height: 0;
	left: 0;
	top: 0;
	overflow: hidden;
	opacity: 0;
	background: rgba(0, 0, 0, .85);
	z-index: 998;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.popup-opened {
	height: 100%;
	opacity: 1;
	top: 0;
}
.popup-wrapper {
	left: 50%;
	top: 50%;
	position: relative;
}
.popup-inner {
	border-radius: 3px;
	left: -50%;
	top: -50%;
	padding: 20px;
	position: relative;
	background: #efefef;
	max-width: 400px;
	margin: 0 auto;
}
.popup-close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 20px;
	color: #5A5A5A;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	background: none;
	z-index: 999;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.popup-close:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
.popup h3 {
	padding: 3px 10px;
	color: #fff;
	font-size: 1.1em;
	background: #777;
}
.pages-form{
	display: inline-block;
}
/*===================================
=            ADMIN LOGIN            =
===================================*/
.login-form-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: -ms-flexbox;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
}
.login-form-wrapper__box {
	text-align: center;
	width: 300px;
}

.form-avatar {
	width: 145px;
	height: 100px;
    border-radius: 10px;
	background: rgba(255, 255, 255, 0.11);
	display: inline-block;
	margin: 0px auto 30px;
	box-shadow: 0px 0px 38px 0px rgba(7, 7, 7, 0.3), 0px 0px 12px 0px rgba(7, 7, 7, 0.22);
}
.form-avatar a {
	display: inline-block;
	line-height: 100px;
}
.form-avatar a img {
    max-width: 100%;
    max-height: 25px;
    margin: 0 auto;
}
.login-form { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.b2bLoginContainer {  
	height: 100vh;
    background: #f2f2f2; 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	overflow-y: auto;
} 
 
.b2bLoginContainer .login-form .b2bForm{
	max-width: 330px; 
    margin: 15px;
}
.b2bLoginContainer .left-border:after{
    content: '';
    width: 1px;
    display: inline-block;
    height: 70%;
    background: #3e875f;
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    left: 0;
}
.b2bLoginContainer .b2bForm form{ 
	background: #fff; 
}
.b2bLoginContainer .b2bForm, .b2bLoginContainer .b2bRegistration{ 
    margin: 40px 0 15px 10px;
}
.b2bLoginContainer .b2bRegistration{
	margin: 50px 15px;
}
.b2bLoginContainer .b2b-flex{
	display: flex;
	align-items: center;
	flex-wrap: wrap;  
    max-width: 640px;
    width: 100%; 
}
.b2bLoginContainer .b2bForm p {
    display: inline-block;
    font-weight: 600;
    font-size: 14px; 
    padding: 10px;
    color: #000;
} 
.b2bLoginContainer .b2bForm .autoWidth {
	width: auto;
	margin: 0;
    text-transform: uppercase;
    padding: 0 10px 5px;
} 
.b2bLoginContainer .b2bForm .field-group{
	padding: 0 20px;
}
.b2bLoginContainer .b2bForm input[type=text], .b2bLoginContainer .b2bForm input[type=password], .b2bLoginContainer .b2bForm input[type=email],
.login-form-wrapper__box form div input[type='text'], .login-form-wrapper__box form div input[type='password']{ 
    background: #ebeff0;
    border-radius: 5px; 
    border: none !important;
    color: #333;
    font-size: 16px;
    padding: 0px 15px;
    height: 35px;
    line-height: 40px;
}
.login-form-wrapper__box form div input[type='text'], .login-form-wrapper__box form div input[type='password']{
	background: rgba(255, 255, 255, 0.2); 
	color: #fff;
} 
.login-form-wrapper__box form div input[type='text']::-webkit-input-placeholder, 
.login-form-wrapper__box form div input[type='password']::-webkit-input-placeholder {
	color: #fff;
}
.login-form-wrapper__box form div input[type='text']::-moz-placeholder, 
.login-form-wrapper__box form div input[type='password']::-moz-placeholder {
	color: #fff;
}
.login-form-wrapper__box form div input[type='text']:-ms-input-placeholder,
 .login-form-wrapper__box form div input[type='password']:-ms-input-placeholder {
	color: #fff;
}
.login-form-wrapper__box form div input[type='text']:-moz-placeholder, 
.login-form-wrapper__box form div input[type='password']:-moz-placeholder {
	color: #fff;
} 
.b2bLoginContainer .b2bForm .b2bRegisterBtn{
    background: #3e875f;
    color: #fff;
    padding: 10px;
    display: block; 
    font-size: 14px;
}
.b2bLoginContainer .b2bForm .b2bRegisterBtn:hover{ background-color: #30694a; box-shadow: 1px 1px 5px #999; }
.b2bLoginContainer form > a:hover, .b2b-registration-form .btn-clear:hover{
	border-color: #999;
}
.b2bLoginContainer .b2bForm>span{
    font-weight: 600;
    font-size: 12px;
    display: block;
    margin: 5px 0;
}
.b2bLoginContainer .b2bForm>span img{
    max-height: 16px;
}
.b2bLoginContainer .error{
    background: transparent;
    color: red;
    margin: 0;
    font-style: normal;
}
.b2bLoginContainer form button  {
    background-color: #2c4145 !important;
    color: #fff !important;
    border: 1px solid transparent; 
    padding: 4px 15px;
    width: 40%;
    margin: 15px 15px 25px 0;
} 
.b2bLoginContainer form .forgotten-psw{
    border: none;
    font-size: 13px;
    color: #4d4d4d;
}
.b2b-registration-form form button:hover, .b2bLoginContainer form button:hover, .b2bLoginContainer form .forgotten-psw:hover{
	opacity: .8;
}
.b2bAnaliticus .table-scroll, .b2cAnalics .table-scroll{ height: auto; } 
.b2bAnaliticus .table-scroll table, .b2cAnalics .table-scroll table{ width: 100%; }
.login-form-button {
	line-height: 30px;
    margin: 5px 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.35);
    padding: 0 36px;
    background-color: #222;
    color: #fff;
}
.login-form-button:hover, .login-form-button:focus {
	background: #666;
	color: #fff;
}
 
/*=====  End of ADMIN LOGIN  ======*/
/*---------- ADMIN PAGE ----------*/

/* FLEX WRAPPER */
.flex-wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	position: relative;
}
/*--- ADMIN HEADER ---*/
#admin-header {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 180;
	width: 200px;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-direction: normal;
	box-direction: normal;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-pack: justify;
	box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-ms-flex-pack: justify;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
	background: #2B3A41;
}
#main-content {
	padding: 10px 10px 20px 210px;
	width: 100%;
}
.header-width-toggle {
	position: absolute;
	top: 50px;
	right: 0px;
	background: rgba(255, 255, 255, 0.30);
	color: #fff;
	width: 30px;
	line-height: 30px;
	height: 30px;
	text-align: center;
	border-radius: 2px 0px 0px 2px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	font-size: 18px;
}
.notify-num {
	color: #fff;
	background-color: rgba(67, 172, 106, 0.67);
	padding: 2px 8px;
	position: relative;
	border-radius: 4px;
	left: 19px;
	font-size: 12px;
	top: 1px;
}
.notify-num-small {
	display: none;
}
.small-width .notify-num-small {
	display: block;
	color: #fff;
	background-color: #6abc6a;
	padding: 2px 6px;
	position: absolute;
	top: 3px;
	right: 3px;
	height: 18px;
	line-height: 14px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 12px;
}
/* END HEADER*/

/*- MAIN MENU -*/
nav.main-menu {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.menu-item__link {
	justify-content: space-between;
	display: flex;
	align-items: center;
	-webkit-align-items: center;
	-webkit-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;	
	border-bottom: 1px solid #3A494E;
	height: 30px;
}
.menu-item__link:hover {
	background: rgba(255, 255, 255, .15);
	color: #fff;
}
.menu-item__link.active {
	box-shadow: 3px 0px 0px #e74c3c inset;
	background: #3A494E;
}
.menu-item__icon {
	width: 50px;
	height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
	color: rgba(255, 255, 255, 0.82);
    font-weight: bold;
    position: relative;
}
.menu-item__icon i.fa {
	color: rgba(255, 255, 255, 0.87);
	font-size: 16px;
}
.erase-div div{
	display: inline-block;
    padding: 0 0 10px;
}
.menu-item__text {
    flex: 2;
    padding-left: 16px;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}
.footnote {
	color: rgba(255, 255, 255, 0.7);
	font-size: 10px;
	text-align: center;
	margin: 5px 0;
}
.footer-page ul li{
	font-size: 13px;
    border-bottom: 1px solid #e6e6e6;
} 
/*--- ADMIN LOGO ---*/
.logo-wrapper {
	padding: 20px 0 5px;
}
.logo {
	border: none;
	box-shadow: none;
	display: block;
    text-align: center;
}
.logo img {
	max-width: 100%;
    max-height: 25px;
}
.logo-text {
    font-size: 1.4em;
    margin: 10px 0;
    display: block;
}
/* END */
/*- LOG OUT -*/
.logout-wrapper {
	text-align: left;
}
.logout-wrapper .menu-item__link {
	border-top: 1px solid #3A494E;
}
.logout {
	display: inline-block;
}
.column-left {
	padding-bottom: 10px;
	border-right: 0;
}
.column-right {
	min-height: 187px;
}
.column-left h3, .column-right h3, .full-width-column h3 {
	padding: 5px 15px;
	color: #222;
	border-radius: 2px;
	font-weight: bold;
	border-left: 3px solid #2980b9;
}
/*==========================================
=            HEADER SMALL WIDTH            =
==========================================*/
body.small-width #admin-header {
	width: 50px;
	padding-top: 50px;
}
body.small-width #admin-header .header-width-toggle {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 0;
	position: relative;
    top: -5px;
}
body.small-width #admin-header .header-width-toggle i.fa {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
body.small-width #admin-header .logo-wrapper, body.small-width #admin-header .footnote, body.small-width #admin-header .menu-item__text {
	display: none;
}
body.small-width #admin-header .menu-item__icon {
	border-right: none;
}
body.small-width #main-content {
	margin-left: 0;
	padding-left: 50px;
}
@media screen and (max-width:767px) {
	#admin-header {
		left: -50px;
	}
	.header-width-toggle {
		right: -50px;
		background: #FD5555;
		color: #fff;
	}
	body.small-width #main-content {
		margin-left: 0px;
		padding: 50px 0;
	}
	.extra-small-width #admin-header {
		left: 0px;
	}
	.extra-small-width .header-width-toggle {
		left: 0px;
		-webkit-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
}

/*=====  End of HEADER SMALL WIDTH  ======*/

/*- ORDER LIST -*/
.admin-li {
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*===========================================
=            orders page filters            =
===========================================*/
.orders-filter-box {
	background: #fff;
	padding: 20px 20px;
	border-radius: 10px;	/* box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
	border: 2px solid #e3e3e3;
	margin: 0px 0 30px;
}
.orders-filter-box .order-filters-list li a {
	display: block;	/*background: #f1f1f1;*/
	background: none;
	border: 2px solid #e3e3e3;
	border-radius: 0px 100px 100px 0px;
	padding: 3px 10px;
	margin: 5px 0;
	color: #222;
	font-size: 14px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.orders-filter-box .order-filters-list li a:hover {
	border-left: 3px solid #5680bf;
}
.orders-filter-box .order-filters-list li.active a {
	border-left: 5px solid #5680bf;
}
/*=====  End of orders page filters  ======*/
.orders-listing .admin-li {
	font-size: 12px;
}
.orders-listing .admin-li .fa, .footer-page ul li a i{
	color: red; 
	padding: 3px;
}
.orders-listing .admin-li .fa:hover, .footer-page ul li a i:hover{
	color: #222;
}
/* ul tabel */
.row.order-list-titles {
	border-bottom: 1px solid #ddd;
}
/* row with tabel heading*/

/*.order-list-titles li,*/
.order-list-titles li a {
    font-weight: 600;
    font-size: 14px;
    color: #222;
    letter-spacing: -.9px;
    display: block;
}
.row.order-list-item {
	border-bottom: 1px solid #ccc;
}
.order-list-item > li {
	height: 40px;
	line-height: 40px;
	color: #999;
	font-size: .8em;
	box-shadow: inset -1px 0 0 0 #999;
}
.order-list-item > li:first-child {
	box-shadow: inset -1px 0 0 0 #999, inset 1px 0 0 0 #999;
}
.order-list-item .delivery, .order-list-item .payment-way {
	line-height: 1.2em;
	padding-top: 6px;
}
.order-list-item .order-status ul {
	width: 85px;
	top: 0;
	left: 100%;
	margin-left: 2px;
}
.order-list-item .more {
	text-align: center;
}
.order-list-item .more-button {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	line-height: 16px;
	margin-top: 12px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #5680bf;
	cursor: pointer;
}
.order-list-item:hover {
	background-color: #eee;
}
.more-view {
	color: #fff;
}
/*- PAGINATION -*/
.pagination {
	float: right;
	margin: 5px 0;
}
.pagination-parent-margin-bottom .pagination {
	margin: 0;
/*	margin-bottom: 10px;*/
}
.pagination li {
	display: inline-block;
}
.pagination li a {
	padding: 3px 8px;
	text-align: center;
	color: #fff;
	font-size: .8em;
	background: #888;
}
.pagination li.active a {

    background: #dfdfdf;
    color: #070707;
    border-radius: 0;
}
/*- PAGE EDIT -*/
.row.page-edit-top {
	margin-bottom: 15px;
}
.page-edit-name {
	padding-left: 0;
}
.include-in-menu div {
	line-height: 32px;
	background: #e6e6e6;
}
.include-in-menu input[type="checkbox"] {
	float: left;
	margin: 10px 5px 0 0;
}
.row .row.seo-settings {
	display: none;
	margin-bottom: 25px;
}
.seo-settings input {
	width: 100%;
	height: 32px;
}
#content_ifr {
	/*min-height: 600px !important;*/
}
input.web-marza-input{
	width: 60%;
}
a.page-edit-save {
	float: right;
    margin: 5px 2px;
}
.languages ul{
	padding: 5px 15px;
}
.languages ul li {
	display: inline-block;
}
.languages ul li a{
	display: inline-block;
    margin: 5px 0;
}
.languages ul li a.active{
    border: 1px solid #000;
    font-weight: 600;
}
/*- LOGO EDIT -*/
.logo-upload-area label, .banner-upload-area label {
	float: left;
	margin-top: 3px;
}
.file-upload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.file-upload input.file-input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.images_upload {
	margin: 10px 0;
}
.images_upload ul li {
	display: inline-block;
	position: relative;
    width: 150px;
    height: 100px;
    text-align: center;
    margin: 5px 10px;
    padding: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #bbb;
}
.images_upload ul::after, .images_upload ul::before {
	content: " ";
	display: table;
	clear: both;
}
.images_upload ul li a {
    position: absolute;
    top: 0;
    right: 0; 
    line-height: 0;
    color: #e74c3c;
}
.images_upload ul li img {
    max-width: 100%;
    height: auto;
 	max-height: 100%;
    display: inline-block;
}
.logo-upload, .banner-uploads, .banner-upload, .image-upload {
    display: inline-block;
    position: relative;
    float: right;
    text-align: center;
    font-size: .9em;
    padding: 2px 4px;
    color: #fff;
    background-color: #aaa;
    overflow: hidden;
}
.banner-uploads{
	position: absolute;
	top: 0;
	right: 0;
    height: 100%;
}
.banner-edit-top .input-bann{ padding-right: 75px; }
.banner-edit-top .time-limit { width: 25px; display: inline-block; }
.logo-upload input, .banner-upload input, .banner-uploads input, .image-upload input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	margin: 0;
    padding: 5px;
}
/*=======================*/
.bg-image-file input {
    width: auto;
    margin: 0;
}
.bg-image-file input:focus{
	outline: none;
}
/*============================*/
.logo-upload-confirm, .banner-upload-confirm, .image-upload-confirm {
	display: block;
	float: right;
	height: 25px;
	width: 25px;
	background-color: #5680bf;
	background-image: url('../images/logo-upload-confirm.png');
	background-position: center center;
	background-repeat: no-repeat;
}
.logo-upload-confirm:hover, .banner-upload-confirm:hover, .image-upload-confirm:hover {
	background-color: #5680bf;
}
.logo-preview-area {
	margin: 15px 0;
	padding: 20px 0;
	text-align: center;
}
.logo-preview {
    max-width: 100%;
    max-height: 70px;
}
/*- SOCIAL ICONS EDIT -*/
.social-edit__group {
	margin-bottom: 15px;
}
.social-edit__group__icon {
	color: #808080;
    padding: 0 10px;
}
.success-saved{
    color: #00cc00;
    text-align: center;
    margin: 0 0 10px;
}
.sortableKar{
	color: #bbb;
	cursor: move;
}
/*--- BANNER & SLIDER EDIT ---*/
.page-list li, .banner-list li, .slide-list li {
    background: none;
	border: 2px solid #e3e3e3;
/*	border-radius: 0px 100px 100px 0px;*/
	padding: 5px 10px;
	margin: 5px;
	color: #222;
	font-size: 14px; 
/*	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;*/
	/*-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;*/
}
.pageran ul { padding: 0; }
.banner-list .deadline{
	border: 2px solid red;
}
.page-list .parrent{
	border: 2px solid #2b3a41;
}
.attributes li{ border-radius: 0; position: relative; }
.attributes li .sortableKar-span{
	position: absolute;
    top: 50%;
    left: 0;
    color: #777;
}
.attributes li .sortableKar-span i{ font-size: 23px; }
.page-list li:hover, .banner-list li:hover, .slide-list li:hover {
	border-left: 2px solid #5680bf;
}
.page-list li.active, .banner-list li.active, .slide-list li.active {
	border-left: 5px solid #5680bf;
}
.page-list li.active > a{
	font-weight: 600;
}
.page-list li.new-elem, .banner-list li.new-elem, .slide-list li.new-elem {
	border-color: #5680bf;
}
.page-list li a, .banner-list li a:first-child, .slide-list li a:first-child { 
    width: 85%;
    color: #222;
    display: inline-block;
}
/*==============================*/ 
.page-list .lvl-2-ul li {
	border: none; 
    padding: 0; 
    margin: 5px 0;
    margin: 5px 0 5px 10px;
} 
.page-list .lvl-2-ul li a{
    /*background: linear-gradient(to right, #ddd, rgba(0,0,0,.01));*/
    background: #ddd;
    padding: 2px 5px;
    width: 100%;
}
.page-list .lvl-2-ul > li > a{
	width: 85%;
	background: #fff;
	border: 2px solid #ddd;
}
.page-list .lvl-2-ul li.active > a{
	font-weight: 600;
    border-left: 3px solid #5680bf;
} 
/*==============================*/
/* icon */
.page-list li .icon, .banner-list li .icon, .slide-list li .icon {
	padding: 0px 5px;
	cursor: pointer;
	color: #808080;
	float: right;
}
.banner-preview-area {
	margin: 15px;
	text-align: center;
}
.banner-preview{
    max-width: 100%;
    max-height: 200px;
    margin: 10px;
}
/*- BANNER DISPLAY PAGES -*/
.banner-display-pages {
	margin: 20px 0.9375em 0;
}
.banner-display-pages ul li {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;	/*padding: 5px 0px;*/
	color: #999;
	font-size: .9em;
}
/*--- MORE POPUP ---*/
.more-popup .popup-wrapper, .more-popup .popup-inner {
	width: 700px;
}
.more-popup .popup-inner {
	padding-bottom: 35px;
}
.order-more-details-list li, .order-more-product-list li {
	padding: 3px 0;
	font-size: 12px;
}
.order-more-details-list li span:first-child, .order-more-product-list .titles span {
	color: #666;
	font-weight: bold;
}
.order-more-product-list {
	margin-top: 20px;
}
.order-more-product-list .row {
	border-bottom: 1px  solid #f1f1f1;
}
.order-more-product-list .row:last-child {
	border-bottom: none;
}
small.input-error {
	background: #E85B5B;
	color: #fff;
	padding: 3px 5px;
	border-radius: 2px;
	margin-bottom: 15px;
}
/*====================================*/
.sabloni {
	cursor: pointer;     
	padding: 5px 15px;
}
.search-field label {display: none;}
.btn-pon-pred{
	position: absolute;
	right: 3px;
    margin: 0 !important;
    border: none !important ;
    padding: 0 9px !important;;
    background: #fff;
}
.btn-pon-pred i {color:#b8b8b8;}
.img_logo_settings{max-width: 200px;}
.logo_inp{width: auto !important;}

/*=====================================
=            Articles page            =
=====================================*/
/*input[type="text"].search-field {
	line-height: 25px;
	max-width: 550px;
	box-shadow: none;
}*/
.search-section-group .btn {
	margin: 2px 0;
}
.search-section {
    margin: 5px 10px;	
}
.amount-checkboxs {
	margin-top: 10px;
}
.amount-checkboxs .checkbox-label {
	margin-right: 15px;
	float: left;
}
.total-article-count p {
	margin: 0;
	font-size: 12px;
}
/* TABLE */
.article-artiacle-table {
	width: 100% !important;
    border: none;
}  
.article-artiacle-table tbody{
	width: 100%;
}
/*.JSproduct_list_table tbody{
	display: inline-table;
}*/
.article-artiacle-table tr td, .article-artiacle-table tr th, .webimport-table tr td,  .webimport-table tr th {
	text-align: center;
 	position: relative;
	height: 24px;
    padding: 0 4px;
}
.webimport-table tr td > span, .article-artiacle-table tr td > span {
	padding: 0px 10px;
}
 
.webimport-table tr td::before, .webimport-table tr th::before,
.article-artiacle-table tr td::before, .article-artiacle-table tr th::before{
	content: '';
	position: absolute;
	border-left: 1px solid #ddd;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.articles-listing {
	background: #fff;
	padding: 5px 0px;
	border: 1px solid #e3e3e3;
	margin: 0 0 30px;
}
.admin-product-table {
	font-size: 11px;
	letter-spacing: 0.025em;
}
.admin-product-table th, .admin-product-table td {
	padding: 1px 10px;
}
.admin-product-table .setting-button {
	padding: 1px 5px;
	border-radius: 2px;
	background: #5680BF;
}
.admin-product-table .text-center {
	text-align: center;
}
#selectable .ui-selecting {
	background: #E8E8E8;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#selectable .ui-selected {
	background: #90AFC5;
	color: #fff !important;
}
#selectable .ui-selected td, #selectable .ui-selected tr {
	color: #fff !important;
}
#selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#selectable li {
	height: 24px !important;
	line-height: 24px !important;
	font-size: 11px;
	padding-top: 0;
}
.admin-list {
	background: #fff;
	cursor: pointer;
}
.articles-listing .ui-widget-content {
	border: none;
	border-bottom: 1px solid #ddd;
}
.btn-admin {
	margin: 0;
	padding: 0;
	border-radius: 0;
}
.btn {
	border-radius: 0 !important;
}
table.filter-table {
	border: none !important;
	overflow: hidden;
}
table.filter-table:hover {
	background-color: transparent;
}
table.filter-table tr th,
table.filter-table tr td {
	padding: 0;
	line-height: 1;
	font-size: 12px;
}
.margin-bottom-buttons{
	margin-bottom: 10px !important;
}
.action-buttons .btn {
	width: 100%;
	font-size: 12px;
	padding: 3px 0px;
    margin-right: 2px;
    height: 38px;
}
/*.action-buttons .column,
.action-buttons .columns {
	padding: 0 2.5px !important;
}*/
table.filter-table input[type="checkbox"] {
	line-height: 16px;
	background: red;
	margin: 5px auto;
}
/*=====  End of Articles page  ======*/

/*.rabat-combination-form {
	display: flex;
	flex-wrap: wrap;
	display: -moz-flex;
	-moz-flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
}
.rabat-combination-form .select-control {
	margin-bottom: 20px;
    width: 100%;
    display: flex;
	flex-wrap: wrap;
	display: -moz-flex;
	-moz-flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
}*/
/*.rabat-combination-form .btn-primary {
	margin-top: 20px;
}*/
.orders-page-li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	display: -moz-flex;
	-moz-justify-content: space-between;
	-moz-align-items: center;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	margin-bottom: 10px;
}
/*=======================================
=            CUSTOM CHECKBOX            =
=======================================*/
label.checkbox-label {
	cursor: pointer;
	color: #666;
	margin: 0;
}
.label-text {
	font-size: 14px;
}
label.checkbox-label input[type="checkbox"] {
	display: none;
}
label.checkbox-label input[type="checkbox"] + .label-text:before {
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	width: 1em;
	display: inline-block;
	margin: 0;
	font-size: 16px;
}
label.checkbox-label input[type="checkbox"]:checked + .label-text:before {
	content: "\f14a";
	color: #94a5b5;
	-webkit-animation: tick 180ms ease-in;
	animation: tick 180ms ease-in;
}
label.checkbox-label input[type="checkbox"]:disabled + .label-text {
	color: #aaa;
}
label.checkbox-label input[type="checkbox"]:disabled + .label-text:before {
	content: "";
	color: #ccc;
}
@-webkit-keyframes tick {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	90% {
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes tick {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	90% {
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
/*=====  End of CUSTOM CHECKBOX  ======*/

/*================================
=            Category            =
================================*/

/* FOUNDATION OVERRIDE */
.accordion .accordion-navigation>a {
	background: none;
	color: #222;
	display: block;
	font-size: 14px;
}

.row.small-gutter .column,
.row.small-gutter .columns {
	padding-left: 2px;
	padding-right: 2px;
}
/* END */
.categories {
	background: #f1f1f1;
	margin: 0;
	border: none;
	border-radius: 0;
	overflow: scroll;
	padding: 0px 0 0 0;
	width: 100%;
	display: none;
}
ul.ul-lvl {
	padding: 0 0 0 6px !important;
	margin: 0 !important;
}
ul.ul-lvl.content {
	background: #F1F1F1;
}
.ul-lvl--2 {
	border-left: 2px dashed #e3e3e3;
}
.ul-lvl--3 {
	border-left: 2px dashed #e3e3e3;
}
.ul-lvl--2 li .li-item__link, .ul-lvl--3 li .li-item__link, .ul-lvl--4 li .li-item__link {
	background: none;
}
.ul-lvl--2 li .li-item__link__text, .ul-lvl--3 li .li-item__link__text, .ul-lvl--4 li .li-item__link__text {
	font-size: 70%;
	color: #222;
	font-weight: normal;
}
/*li.li-item {
	padding-left: 5px;
}*/
.li-item__link {
	width: 100%;
	background: #fff;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #fff;
}
input.li-item__link__input {
	padding: 0px 2px;
	line-height: 18px;
	height: 18px;
	width: 31px;
	text-align: center;
	font-size: 10px;
	left: -3px;
	position: relative;
}
a.li-item__link__text {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	line-height: 1;
	color: #222;
	padding: 5px 15px;
	font-size: 14px;
	font-weight: bold;
}
.li-item__link__edit {
	padding: 0 !important;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	z-index: 9;
}
.li-item__link__edit i {
	line-height: 25px;
	color: #bbbbbb;
	font-size: 22px;
	border-radius: 0;
}
/*=====  End of Category  ======*/
/*=========================================
=            ARTICLE EDIT PAGE            =
=========================================*/

/* Daily express button */
.d-express-div {
	height: 49px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	display: -moz-flex;
	-moz-align-items: flex-end;
	-moz-justify-content: flex-end;
	display: -webkit-flex;
	-webkit-align-items: flex-end;
	-webkit-justify-content: flex-end;
}
.d-express-div > a {
	margin: 0px;
}
.b2b-login .field-group {
    text-align: left;
}
.field-group {
	margin-bottom: 10px;
}
.field-group.no-label-margin label {
	margin: 0;
}
.field-group.error textarea, .field-group.error select, .field-group.error input {
	border-color: #FD5555;
}
.field-group.error label {
	color: #FD5555;
}
/*=====  End of ARTICLE EDIT PAGE  ======*/
.alertify{
	border: none;
	top: 25%;
}
#alertify{
	max-height: 500px;
	overflow-y: scroll;
}
/*========================================
=            ARTCLE EDIT PAGE            =
========================================*/
.article-edit .floating-field-group .field-group {
	float: left;
	width: 100%;
	padding: 0 5px;
}
/* 1335px */
@media screen and (max-width:1336px) {
	.article-edit .floating-field-group .field-group {
		width: 100%;
	}
}

 
/* 1024px */
@media screen and (max-width:1024px) {
	.article-edit .floating-field-group .field-group {
		width: 50%;
	}
	.narudzbina-th-naziv {
		max-width: 38px;
	}
	.narudzbina-td-naziv {
		display: inline-flex;
	}
	.table_narudzbina thead tr th,
	.table_narudzbina tfoot tr th,
	.table_narudzbina tfoot tr td,
	.table_narudzbina tbody tr th,
	.table_narudzbina tbody tr td,
	.table_narudzbina tr td {
		white-space: normal;
	}
}
/* 640px */
@media screen and (max-width:640px) {
	.article-edit .floating-field-group .field-group {
		width: 100%;
	}
	.b2bLoginContainer .left-border:after{ display: none; }
	.b2bLoginContainer .b2b-flex{ justify-content: center; }
}
/*=====  End of ARTCLE EDIT PAGE  ======*/

/*==================================
=            Order Page            =
==================================*/
.anly-box {
	padding: 0 7.5px;
}
.anly-ul__li {
	font-size: 14px;
	font-weight: normal;
	color: #222;
	letter-spacing: 0.025em;
	padding: 10px 5px;
	line-height: 1;
	border-bottom: 1px solid #e3e3e3;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.anly-ul__li:first-child {
	padding-top: 0;
}
.anly-ul__li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.anly-ul__li__text {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.anly-ul__li__count {
	font-weight: bold;
	font-size: 15px;
	color: #888;
}
.o-filters__li {
	margin-right: 5px;
	display: inline-block;
}
.private{
	color: #31a9ef;
}
.legal-person{
	color: #ce8cc0;
}
.o-filters-span-2 {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    text-align: center;
    background: #f1f1f1;
}
.erase-btn{
	position: absolute;
	top: 22px;
    right: 15px;
}
.o-filters{
	background-color: #f1f1f1;
	padding: 5px 0;
	position: relative;
}
.o-filters-span-1 label{
	margin: 0;
}
.title-filters-h1{
	margin: 0;
	display: inline-block;
}
.datepicker-col__box {
	display: inline-block;
	margin-right: 10px;
}
.datepicker-col__box label {
	display: inline-block;
	margin: 0;
}
.datepicker-col__box input {
	display: inline-block;
	width: auto;
	width: 100px;
}
@media screen and (max-width:425px) {
	.o-filters__li {
		width: 100%;
	}
}
.graph-box {
	margin: 4px -11px !important;
}
.graph-box > canvas {
	width: 95%;
}
/*=====  End of Order Page  ======*/

/*=============================================
=            Izmna kategorije page            =
=============================================*/
.button-option {
	background: none;
	padding: 5px;
	font-size: 18px;
	color: #74C2B2;
	line-height: 0;
}
.name-ul .button-option:hover {
	color: #808080;
	background: none;
}
.name-ul__li {
	margin: 0 0 5px;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    padding: 0 5px;
}
.name-ul .admin-users{
	display: block;
	color: #222;
}
.name-ul .admin-users:hover{
	background-color: #ddd;
}
.name-ul__li .name-ul__li__name {
    font-size: .8em;
    display: inline-block;
    line-height: 1.3;
    margin: 2px 0;
    flex: 1;
}
.name-ul .name-ul__li__number {
	width: 10%;
	text-align: center;
}
.name-ul__li__remove {
	color: #FD5555;
	font-weight: 600;
    font-size: 20px;
    line-height: 1;
}
.name-ul .input-smaller{
    width: 50%;
    flex: none;
}
/*=====================*/
.video-manual{
    display: inline-block;
    font-size: .9em;
    padding: 5px 10px;
    margin: 0 10px;
    background: #e5e5e5;
    box-shadow: inset 0px 0px 0px 2px #61c1ce;
    transition: .2s ease-in-out;
}
.video-manual:hover{
	 box-shadow: inset 0px 0px 0px 2px #fff;
}
.video-manual-title{
    font-size: 1em;
    display: inline-block;
    background: #737373;
    margin: 0;
    padding: 3px 25px;
    border-radius: 5px;
    color: #fff;
}
.video-manual-container{
    text-align: center;
    background: #ddd;
    padding: 15px;
    border-radius: 10px;
}
.video-manual-container iframe{
	max-width: 100%;
}
 /*=====  End of Izmna kategorije page  ======*/
/*====================================
=            CONTACT PAGE            =
====================================*/
.row.collapse.contact-row>.column, .row.collapse.contact-row>.columns {
	padding: 0 5px;
}
/*=====  End of CONTACT PAGE  ======*/
/*=====================================
=            SETTINGS PAGE            =
=====================================*/
/*- SETTINGS PAGE -*/
.settings ul li > ul li {
    padding: 2px 0 2px 10px; 
	border-bottom: solid 1px #f1f1f1;
	width: 145px;
}
.settings .theme_choose{
	box-shadow: 1px 1px 5px #ddd;
    margin: 0 2px 0 0;
}
.settings .theme_choose ul{
	margin: 0;
}
.settings .theme_choose label {
	display: inline-block;
    width: 75%; 
	font-size: 12px;
}
.settings label{ margin: 0; font-size: 12px; display: inline-block; }
.manual-padding{
	padding: 0;
}
.slide_me_toggle{
	display: none;
}
.custom_colors{
	box-shadow: 1px 1px 5px #ccc;
	margin: 5px 0px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	background: linear-gradient(to left, #fff, #f2f2f2);
}
.custom_colors input{
	padding: 0;
	margin: 0;
}
.setting-button.active:hover {
	background: #5680bf;
	color: #000 !important;
}
select.order-status__select {
	line-height: 20px;
	height: 20px;
	border-width: 1px;
	outline: none;
}
.option-col {
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	display: -webkit-flex;
	display: flex;
	margin: 2px 0;
	border-top: 1px solid #ddd;
}
.option-col__label {
	-webkit-flex: 1; 
	flex: 1;
}
@media screen and (max-width:640px) {
	.option-col {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
.uploaded-link {
	font-size: 12px;
}
/*=====  End of SETTINGS PAGE  ======*/
.table-ul {
	overflow-x: scroll;
}
.table-li {
	min-width: 200px;
	width: auto;
}
/*=======================================
=            WEB IMPORT PAGE            =
=======================================*/
section.webimport-table {
	padding: 0 10px;
}
section.webimport-table .flat-box{
	overflow: hidden;
}

table.artiacle-table tr{
	border: none !important;
}
table.artiacle-table th,
table.artiacle-table td {
	font-size: 12px;
	line-height: 15px;
}
table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td {
	font-size: 12px; 
	padding: 5px;
	text-overflow: ellipsis;
	white-space: nowrap; 
	overflow: hidden;
}
table th {
	text-transform: uppercase;
} 
.row-selected {
	background: #90AFC5 !important;
	color: #fff !important;
}
/*=====  End of WEB IMPORT PAGE  ======*/
/*===============================
=            modules            =
===============================*/
.m-subnav {
	margin-bottom: 0;
}
.m-subnav__link {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    display: block;
    max-width: 240px;
}
.m-subnav__link__icon {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-right: 1px solid #e3e3e3;
	display: inline-block;
	color: #86889C;
}
.m-subnav__link__text {
	display: inline-block;
	line-height: 40px;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #86889C;
	text-align: center;
}
.m-tabs {
	margin: 3px 0 11px 15px;
}
.m-tabs__tab:hover {
	background-color: #eee;
	transition: 0.2s ease-in-out;
	-webkit-box-shadow: inset 0px 0px 0px 2px #61c1ce;
    -moz-box-shadow: inset 0px 0px 0px 2px #61c1ce;
    box-shadow: inset 0px 0px 0px 2px #61c1ce;
}
.m-tabs__tab {
	transition: 0.2s ease-in-out;
	display: inline-block;
    border-bottom: 2px solid #E3E3E3;
    background: #fff;
    color: #222;
}
.m-tabs__tab a {
	color: #222;
    padding: 10px 15px;
    line-height: 35px;
}
.m-tabs__tab.m-tabs__tab--active {
	background: #eee;
	-webkit-box-shadow: inset 0px 0px 0px 2px #61c1ce;
    -moz-box-shadow: inset 0px 0px 0px 2px #61c1ce;
    box-shadow: inset 0px 0px 0px 2px #61c1ce;
}
/* input and button*/
.m-input-and-button {
	margin: 0px 0;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: start;
	justify-content: flex-start;
	display: -ms-flexbox;
	display: flex;
}
.m-input-and-button.large {
	-ms-align-items: stretch;
	align-items: stretch;
}
.m-input-and-button.large .m-input-and-button__btn.btn {
	height: auto;
}
.m-input-and-button__input, textarea.m-input-and-button__input, input[type="text"].m-input-and-button__input, input[type="email"].m-input-and-button__input, input[type="number"].m-input-and-button__input, input[type="password"].m-input-and-button__input, select.m-input-and-button__input {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 99%;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.m-input-and-button__btn {
    height: 21px;
    border-radius: 0px !important;
    min-width: 25px;
    margin: 0;
    font-size: 12px !important;
    padding: 0 3px !important; 
    vertical-align: super; 
}
.m-input-and-button__btn.btn:last-child {
	border-radius: 0;
}
.m-input-and-button__btn.btn-icon {
	width: 25px;
}
/*input.select2-search__field, .select2, .select2-selection, .select2-selection__rendered {
	width: 100% !important;
	height: 21px;
}*/
.m-input-and-button__input:first-child, textarea.m-input-and-button__input:first-child, input[type="text"].m-input-and-button__input:first-child, input[type="email"].m-input-and-button__input:first-child, input[type="number"].m-input-and-button__input:first-child, input[type="password"].m-input-and-button__input:first-child, select.m-input-and-button__input:first-child {
	border-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.m-input-and-button__input:nth-child(2n), textarea.m-input-and-button__input:nth-child(2n), input[type="text"].m-input-and-button__input:nth-child(2n), input[type="email"].m-input-and-button__input:nth-child(2n), input[type="number"].m-input-and-button__input:nth-child(2n), input[type="password"].m-input-and-button__input:nth-child(2n), select.m-input-and-button__input:nth-child(2n) {
	border-radius: 0px !important;
}
.m-input-and-button .wiKurs{
    max-width: 90px;
}
/*=====  End of modules  ======*/
/*============================
=            SLIKE            =
=============================*/
 
.firma-slike-row .col-slika img{
    max-width: 100%;
    max-height: 110px;
    display: block;
    margin: auto;
    padding: 0 15px;
}
.firma-slike-row .col-slika a{
    display: block;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
  	border: 1px solid #999999;
}
.firma-slike-row .col-slika {
    padding: 15px;
    border: 1px solid #ccc;
    background: #ccc;
    margin: 5px auto;
}
.radio-button-field {  position: relative; }
.radio-button-field > input, .radio-button-field .main-image { 
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	left: 0;
	z-index: 1;
}  
.no-float [class*="column"]+[class*="column"]:last-child {
	float: none;
}
.radio-button-field .main-image { left: unset; right: 15px; }
.firma-slike-row .col-slika.active {
  	background: #fff;
}
.slike-form-row form div input, .slike-form-row form div p{
    display: inline-block;
    width: auto;
}
.slike-form-row form div p{
	     font-weight: 600;
    font-size: 14px;
    margin: 0 15px 0 0;
}
.firma-slike-row .invisible-btn{
    padding: 4px 9px;
    margin: 5px 0;
    text-align: center;
    font-size: 12px;
    border: 1px solid #ddd;
    background: #3a494e;
    color: #fff;
}
.firma-slike-row div > select{
	max-width: 200px;
}
.imges-heading{ background: #e6e6e6; padding: 3px 0 7px; }
.imges-heading div label{ display: inline-block; }
.imges-heading div:first-of-type { position: relative; top: 3px; }
.big-image { 
	margin: 15px auto; 
}
.big-image img{
    max-height: 135px;
    display: inline-block;
    margin: 3px;
} 
.label-wrapper {
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -ms-flexbox;
	display: flex;
}
.label-wrapper .label {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
.label-wrapper .plus, .label-wrapper .minus {
	display: inline-block !important;
}
/*=====  End of SLIKE  ======*/
.karakteristike-tabela td{
	padding: 5px;
}
.group-image{
	max-width: 100%;
    max-height: 140px;
    display: block;
    margin: auto;
}
.add-to-order{
	margin: 0 0 10px;
}
/*======================================
=            VEZANI ARTIKLI            =
======================================*/
.articles {
	position: relative;
}
.articles #search_content .articles_list_new{
	height: 500px;
	overflow: auto;
}
.articles_list {
	padding: 15px;
	position: absolute;
	left: 0px;
	right: 20px;
	top: 22px;
	z-index: 800;
	width: 100%;
	background: #fff;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-sizing: border-box;
	max-height: 300px;
	overflow: auto;
}
.articles_list__item:last-child a {
	border-bottom: none;
}
a.articles_list__item__link {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	display: -webkit-flex;
	display: -ms-flexbox;
	align-items: center;
	-webkit-align-items: center;
	display: flex;
	border-bottom: 1px solid #8c8c8c;
    line-height: 1;
    padding: 3px 0;
	font-size: 10px;
	color: #222;
}
.articles_list__item__link__small {
	display: block;
	width: 40px;
	margin-right: 16px;
}
.articles_list__item__link__text {
	display: block;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	color: #222;
	text-align: left;
}
.articles_list__item__link__cat {
	display: block;
	font-size: 12px;
	color: #808080;
	width: 160px;
	margin-left: 16px;
}
/*=====  End of VEZANI ARTIKLI  ======*/

/*============================
=            NEWS            =
============================*/
.news-page h1 {
	display: inline-block;
	margin-right: 15px;
}
.news-filter {
	margin: 10px 2px;
}
/* filter */
.news-filter a {
	color: #222;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: 10px;
}
.news-table td {
	font-size: 14px;
    padding: 5px 10px;
}
.news-table span.active, .news-table span.inactive {
	padding: 5px 10px;
	text-transform: uppercase;
	border-radius: 3px;
	font-size: 8px;
	color: #fff;
	font-weight: bold;
	line-height: 8px;
}
.news-table span.active {
	background: #2ecc71;
}
.news-table span.inactive {
	background: #e74c3c;
}
.news-table .title {
    color: #222;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    display: block;
}
.news-action {
	margin: 10px 0 5px 5px;
	font-size: 12px;
	opacity: 0;
	-webkit-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}
.news-action a {
	margin-right: 10px;
	color: #222;
}
.news-table td:hover .news-action {
	opacity: 1;
}
.news-single-title {
	font-size: 23px !important;
	height: 38px !important;
}
/*=====  End of NEWS  ======*/
/*============================================
=            TOAST - NOTIFICATION            =
============================================*/
#toasts, .toasts {
	position: fixed;
	top: 16px;
	right: 16px;
}
.toast {
	background: #34495e;
	color: #fff;
	font-size: 14px;
	padding: 10px 30px;
	border-radius: 2px;
	margin-bottom: 10px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	position: relative;
}
.toast.success {
	background: #2ecc71;
}
.toast.error {
	background: #e74c3c;
}
.toast.danger {
	background: #f1c40f;
}
.toast__close {
	position: absolute;
	top: 50%;
	right: 10px;
	cursor: pointer;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.toast__close .fa {
	font-size: 10px;
	line-height: 1px;
}
@media screen and (max-width:768px) {
	#toasts, #toasts {
		top: auto;
		right: 8px;
		bottom: 8px;
		left: 8px;
	}
	.toast {
		width: 100%;
		margin-bottom: 5px;
	}
	.fixed-cat-menu{
        display: none;
	}
}
/*=====  End of TOAST - NOTIFICATION  ======*/
/*=======================================
=            custom switcher            =
=======================================*/
.toggles {
	width: 40px;
	text-align: center;
	display: inline-block;
}
.ios-toggle, .ios-toggle:active {
	position: absolute;
	top: -5000px;
	height: 0;
	width: 0;
	opacity: 0;
	border: none;
	outline: none;
}
.switch-label {
	display: block;
	position: relative;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 16px;
	width: 100%;
	height: 24px;/*border-radius*/
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background: #f8f8f8;
	cursor: pointer;
	-webkit-transition:.25s ease-in-out;
	-moz-transition:.25s ease-in-out;
	-o-transition:.25s ease-in-out;
	transition:.25s ease-in-out;
}
.switch-label:before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	line-height: 24px;
	text-indent: 40px;
	height: 24px;
	width: 24px;/*border-radius*/
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	top: 0px;
	left: 0px;
	right: auto;
	background: white;/*box-shadow*/
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
	box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
	-webkit-transition:.25s ease-in-out;
	-moz-transition:.25s ease-in-out;
	-o-transition:.25s ease-in-out;
	transition:.25s ease-in-out;
}
.switch-label:after {
	content: attr(data-off);
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: -300px;
	padding: 5px;
	height: 100%;
	width: 300px;
	text-align: right;
	color: #000;
	white-space: nowrap;
	-webkit-transition:.25s ease-in-out;
	-moz-transition:.25s ease-in-out;
	-o-transition:.25s ease-in-out;
	transition:.25s ease-in-out;
}
.ios-toggle:checked + .switch-label {
	-webkit-box-shadow: inset 0 0 0 20px #5680BF, 0 0 0 2px #5680BF;
	-moz-box-shadow: inset 0 0 0 20px #5680BF, 0 0 0 2px #5680BF;
	box-shadow: inset 0 0 0 20px #5680BF, 0 0 0 2px #5680BF;
}
.ios-toggle:checked + .switch-label:before {
	-webkit-transition:.25s ease-in-out;
	-moz-transition:.25s ease-in-out;
	-o-transition:.25s ease-in-out;
	transition:.25s ease-in-out;
	left: calc(100% - 24px);/*box-shadow*/
	-webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
}
.ios-toggle:checked + .switch-label:after {
	-webkit-transition:.25s ease-in-out;
	-moz-transition:.25s ease-in-out;
	-o-transition:.25s ease-in-out;
	transition:.25s ease-in-out;
	content: attr(data-on);
	left: 40px;
	width: 24px;
}
/* BLUE CHECKBOX */
.ios-toggle + .switch-label {
	box-shadow: inset 0 0 0 0px rgba(67, 172, 106, 0.67), 0 0 0 2px #dddddd;
}
.ios-toggle:checked + .switch-label {
	box-shadow: inset 0 0 0 20px rgba(67, 172, 106, 0.67), 0 0 0 2px rgba(67, 172, 106, 0.67);
}
.ios-toggle:checked + .switch-label:after {
	color: rgba(67, 172, 106, 0.67);
}
/*=====  End of custom switcher  ======*/

/*=======================================
=            kupci i partneri            =
=======================================*/
.table-col-icons .icon,
.table-col-icons a.icon{
	display: inline-block;
	margin-right: 15px;
	color: #222;
}
.admin-partner .row {
	background: #fff;
    border-left: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
    padding: 8px 5px;
    font-size: 13px;
}
.new-customer-form .toggles {
	text-align: center;
	margin: 30px auto;
}
.partners .flat-box{
	padding: 0 12px;
}
.JSPravnoLice,
.JSPrivatnoLice {
	display: none;
}
.JSPravnoLice.active,
.JSPrivatnoLice.active {
	display: block;
}
.kupci-page table tbody tr td, 
.kupci-page table tr td,
.kupci-page table tr th
{
    line-height: 1;
    padding: 6px 10px;
    max-width: 350px;
}
.fix-width-table .td-1{
	width: 10%;
}
.fix-width-table .td-2{
	width: 50%;
}
.fix-width-table .td-3{
	width: 10%;
}
.fix-width-table .td-4{
	width: 20%;
}
.kupci-page table tbody tr:hover {
	background-color: #ccc;
}
/*.kupci-page table a:hover {
    color: #e05d4f;
}*/
.kupci-page #show-pass {
	font-size: 12px;
}
.kupci-page .filter_active{
	border: 1px solid #61c1ce;
    outline: 1px solid #61c1ce;
    font-weight: 600;
}
.remove{
	color: #f00;
}
/*.kupci-page form .medium-6{
	min-height: 50px;
}*/
/*=====  End of kupci i artneri  ======*/
/*=========================================
=            overwrite SELECT2            =
=========================================*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 10px;
    padding: 0 6px;
    line-height: 13px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #E3E3E3;
    margin-top: 3px;
}
/* container */
.select2-container--default .select2-selection--multiple {
	border-radius: 0px;
	border: 1px solid #e3e3e3;
	height: 21px;
	overflow: hidden;
}
/* this is a "x" close */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	margin-right: 5px;
	color: #5680bf;
}
/* select2 input*/
.select2-container--default .select2-search--inline .select2-search__field {
    margin: 0;
    font-size: 11px;
    height: 19px;
}
.select2-container .select2-selection--multiple {
	min-height: auto;
}
/* drop down menu item */
.select2-results__option {
	font-size: 12px;
	line-height: 16px;
	padding: 2px;
 }
/*=====  End of overwrite SELECT2  ======*/
.text-red,
.text-red * {
	color: #e74c3c !important;
}
.text-green,
.text-green * {
	color: #009941 !important;
}
/*======================================
=            checkbox listr            =
======================================*/
.m-checkbox-list .m-checkbox-list__row {
	margin: 0;
	font-size: 12px;
	color: #999;
	margin-bottom: 3px;
}
.m-checkbox-list .m-checkbox-list__row input {
	margin: 0;
}
/*=====  End of checkbox listr  ======*/
.table-scroll { 
	max-height: 500px;
	overflow: auto;
}
.table-scroll table, .items-order table { width: 99.9%; }

.dc_table {
    border-left: 0;
    border-right: 0;
    border-top: none;
}
.fixed-head{
    border: none;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    display: inline-table;
    z-index: 171;
    width: 100%;
}
.fixed-head tr{
   border-top: 1px solid #ddd;
}
.web-import-selectable{
	display: inline-table;
}
.table-fixed-width, .table-fixed-width1 {
	/*width: 330px;*/
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	text-align: left !important;
    padding-left: 5px;
    position: relative;
}
.table-fixed-width1{
	width: 350px;
}

.table-fixed-width-small {
	width: 70px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}
/*=====================================
=            helpers class            =
=====================================*/

div[class^='margin-'], div[class*=' margin-']{
	margin: 0;
}
/* margin top */
.margin-top {
	margin: 0;
	margin-top: 10px;
}
.small-margin-top {
	margin: 0;
	margin-top: 5px;
}
/* margin bottom */
.margin-bottom {
	margin: 0;
	margin-bottom: 10px;
}
.small-margin-bottom {
	margin: 0;
	margin-bottom: 5px;
}
/* margin left */
.margin-left {
	margin: 0;
	margin-left: 10px;
}
.small-margin-left {
	margin: 0;
	margin-left: 5px;
}
/* margin right */
.margin-right {
	margin: 0;
	margin-right: 10px;
}
.small-margin-right {
	margin: 0;
	margin-right: 5px;
}
/*=====  End of helpers class  ======*/
.small_inp {
	width: 100px;
}
#wait {
	position: absolute;
	background: rgba(0, 0, 0, 0.83);
	width: 104%;
	height: 102%;
	top: -10px;
	left: -10px;
	display: none;
	z-index: 999;
}
.loader {
    text-align: center;
    position: absolute;
    top: 70px;
    left: 70px;
}
#wait > p {
	text-align: center;
	position: relative;
    top: 15%;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	width: 300px;
	margin: 0 auto;
}
.ui-selecting {
	background-color: #90AFC5 !important;
}
.options-title {
	font-style: 10px;
	margin: 0 5px;
}
#JSSelectedImage {
    margin: 0 5px;
    color: blue;
    cursor: pointer;
    width: 175px;
    max-height: 160px;
    text-align: center;
}
#JSSelectedImage img {
    max-width: 100%;
    max-height: 100px;
    margin: 0 auto;
    display: block;
}
.filters-table-col {
	width: 123px;
}
.modal-image-add{
    height: 160px;
}
.modal-image-add img{
    max-width: 100%;
    max-height: 145px;
    display: block;
    margin: auto;
}
.options-div, .options-title {
	display: block;
}
.cat-list {
	width: 20%;
}
.articles-btn {
	width: 133px;
}
.articles-btn-l {
	width: 153px;
}
#JSSelectedImage {
	position: absolute;
	top: 8px;
	left: 22px;
}
.menu-item__icon > .menu-tooltip {
	display: none;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
.small-width .menu-item__icon:hover > .menu-tooltip {
	display: inline;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.63);
	color: #fff !important;
	z-index: 99999;
	overflow: hidden;
	padding: 1px 20px;
	font-size: 20px;
	left: 50px;
	opacity: 1;
	transition: 0.3s ease-in-out;
	font-weight: 300;
}
.small-width .logged-user {
	display: none;
}
.nova {
	color: #c83737;
}
.stornirana {
	color: #7e45a1;
}
.prihvacena {
	color: #3f9d3f;
}
.logged-user {
	color: white;
	font-size: 11px;
	text-align: center;
	padding: 5px;
    margin: 5px 0;
}
.sett-name {
	min-width: 40px;
}
.JSVrstaCena {
	width: 50%;
}
.settings-page {
	color: black !important;
}
/*.b2b-options h2{
	font-size: 18px;
    background: #ddd;
    padding: 5px 10px;
}*/
.b2b-options label{
	display: inline-block;
	width: 85%;
}
.b2b-nc-options div a{
    padding: 1px 10px;
    position: relative;
    bottom: 2px;
}
.b2b-nc-options  div:nth-child(1) button, .b2b-nc-options  div:nth-child(2) button {
	padding: 2px 5px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 2px;
    margin: 0;
  	line-height: 1;
}
.b2b-nc-options  div:nth-child(3) button{
    padding: 4px;
    height: auto;
    margin: 0 5px;
    line-height: 1;
}
.b2b-article-list div button{
    position: absolute;
    top: 0;
    right: 1px;
    padding: 2px 5px;
    line-height: 1;
}
::placeholder {  
    color: #595959;
    opacity: 1;  
}
/*.box-sett .option-title {
    text-align: center;
    margin: 0px;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: lightgray;
    color: #383838;
    font-weight: 600;
}*/
.box-sett {
	background-color: #fff;
    margin: 0 3px 10px !important;
	padding: 0;
	box-shadow: 2px 2px 6px rgba(170, 170, 170, 0.43);
}
/*.orders-page .box-sett {
	max-width: 1000px;
}*/
/*.orders-page .box-sett .box-sett-div {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	display: -moz-flex;
	-moz-justify-content: space-between;
	-moz-align-items: flex-start;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: flex-start;
    padding: 50px 20px 70px;
}*/
/*.orders-page .box-sett .box-sett-div .box-set-width{
	width: 45%;
}*/
/*.orders-page .box-sett .box-sett-div label{
	margin: 0px;
}*/
/*.orders-page .box-sett-div .option_col_div, .orders-page .box-sett-div .save-btn-div {
	display: flex;
	display: -moz-flex;	
	display: -webkit-flex;
}*/
/*.orders-page .box-sett-div input, .orders-page .box-sett-div .save-btn-div input {
	height: 35px;
}
.orders-page .box-sett-div button, .orders-page .box-sett-div .save-btn-div button {
	line-height: 35px;
    padding: 0px 20px;
    background-color: lightgrey;
    color: #3c3b3b;
    font-weight: 500;
    transition: all 0s;
}
.orders-page .box-sett-div button:hover, .orders-page .box-sett-div .save-btn-div button:hover {
	background-color: #bdbdbd;
}*/
 
.box-sett ul li{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3px 10px;
}
.double-Options li label{ margin: 0; }
/* Box set responsive */
/*@media only screen and (max-width: 640px) {
   .orders-page .box-sett .box-sett-div {
   		flex-wrap: wrap;
   }
   .orders-page .box-sett .box-sett-div .box-set-width {
	    width: 100%;
	}
}*/
/* End of set responsive */

.flex {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
}
.text-center {
	padding: 0;
	margin: 5px 0;
	color: #535353;
	font-size: 13px;
	font-family: 'Open Sans';
}
.order-items span{
	display: block;
    margin: 3px 0;
}
.wrap {
	padding: 8px;
}
.import-buttons-work {
	text-align: center;
	margin-bottom: 2px;
}
.btn-import {
	font-size: 10px;
	padding: 2px 5px;	
}
.btn-danger {
	background-color: #eee !important;
	transition: 0.2s ease-in-out;
} 
.btn-danger:hover {
	border: 1px solid #ff8383;
	background-color: #fff !important;
}
.search-group-row {
	margin: 0;
	padding: 0;
}
.articles-number {
    padding: 5px 0 0;
}
.articles-content {
	width: 80%;
}
.custom-menu {
	display: none;
	z-index: 99999;
}
.custom-menu-active {
	display: block;
	position: absolute;
	background-color: #ddd;
	box-shadow: 3px 3px 20px #555;
	border: 1px solid #999;
	padding: 0;
	line-height: 15px;
}
.custom-menu-item {
	background-color: transparent;
	padding: 0;
	margin: 0;
	font-size: 11px;
	transition: none;
	border-radius: 0;
	border: none;
}
.dodavanje_artikla{
	display: inline-block;   
    padding: 3px 10px 3px 3px;
    margin: 0 0 5px 0;
    border: 1px solid #fff;
    font-size: 11px;
}
.dodavanje_artikla:hover{
    background: #fff;
    border: 1px solid #7a55ff !important;
    transition: 0.2s ease-in-out;
    color: #000 !important;
}
.plusikona{
	padding: 0 5px;
    top: 1px;
    color: #fff;
}
.dodavanje_artikla:hover .plusikona{
	color: #000;
}
.custom-menu-item:hover {
	background-color: transparent;
}
li .custom-menu-item {
	padding: 3px 21px;
	width: 100%;
	display: block;
	text-align: left;
	box-shadow: 0px 1px 0px rgba(85, 85, 85, 0.15);
}
.custom-menu > li:hover {
	transition: none;
	color: white;
}
.btn-primary:hover, .items-order .mail-btn:hover, .flat-box .mail-btn:hover{
	background: #fff;
	border: 1px solid #61c1ce;
	transition: 0.2s ease-in-out;
}
.btn-secondary:hover {
	background: #fff;
	border: 1px solid #7a55ff;
	transition: 0.2s ease-in-out;
}
.add-new {
	margin-top: 33px;
}
.add-new-btn {
	padding: 1px 5px !important;
}
.custom-menu-item:focus {
	background-color: transparent;
}
.inp-sm {
	padding: 0 3px !important;
	display: inline !important;
}
.inp-s {
	width: 70px !important;
	display: inline !important;
}
.nc-options label {
	display: inline;
}
/*.nc-options {
	margin-top: 10px;
	padding: 3px;
	margin-bottom: 20px;
}*/
.nc-options a {
	height: 21px;
	padding: 0 42%;
	margin: 3px 1px;
}
.small-btn {
	width: 50% !important;
}
.analitics-filter {
	margin: 15px 0;
}
.analitics-filter .btn {
	margin: 23px 0;
}
.analitics-table { 
	margin: 10px 0 20px; 
}
.analitics-table tbody tr td, .analitics-table thead tr th { 
	overflow: hidden; 
	padding: 5px !important; 
}
.analitics-table tbody tr .first-td{
    max-width: 350px; 
	display: block; 
}
.analitics-table tbody tr { background: rgba(228, 228, 228, 0.52); }
.analitics-table tbody .sub-td td{
	color:  #bf1d1d;
    padding: 0px 5px !important;
    background-color: #fff;
}
.analitics-table tbody .colapsable-td{
    max-width: 160px;   
} 
.news-table .text-center {
	background-color: transparent;
}
.kupci-partneri-btns {
	margin-top: 12px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 8px !important;
}
.kupci-r {
	margin-top: 12px;
}
.center {
	text-align: center;
}
.no-padd {
	padding: 0;
	margin: 0;
}
.nivoi-sec li {
	border-bottom: 1px solid #ddd;
}
.nivoi-chk {
	padding-top: 5px !important;
}
.akcija-column {
	margin-bottom: 10px !important;
}
.akcija-column .title-med{
	margin: 5px 0 10px;
}
.akcija-column .akcija-input{
	width: 90%;
    display: inline-block;
}
.akcija-column span{
	color: red;
}
.action-modal span{
	position: absolute;
    right: 25px;
    z-index: 1;
    cursor: pointer;
}
.articles-mn {
	width: 200px;
	line-height: 1.1;
}
.custom-menu-sub {
	position: relative;
	background-color: #ddd;
	width: 150px;
	color: black;
}
.custom-menu-sub-item {
	display: none;
	position: absolute;
	top: 77px;
	left: 179px;
	background-color: #ddd;
	width: 150px;
	color: black;
	box-shadow: 5px 5px 20px #555;
}
.active-sub {
	display: block;
}
.custom-menu-sub-item:hover {
	display: block;
	background-color: #ddd;
	width: 150px;
	color: black;
	box-shadow: 5px 5px 20px #555;
}
.bw {
	background-color: white;
}
table tbody {
	border: none;
}
.porez-btn {
	margin: 5px 0 !important;
	width: 100%;
}
.custom-menu-item:hover {
	background-color: #fff;
	color: #000;
	border: none;
}
.search-row .column {
	padding: 2px;
}
.porez-row .column {
	padding: 5px;
	margin: 0;
}
.exp-btn {
	width: 100%;
}
#JSCenaPoreskaStopa {
	width: 50px;
}
#JSSelectImageAssign {
	margin-top: 2px;
}
.articles-changes {
	padding: 6px;
}
.custom-menu-item a {
	color: black;
}
.main-sett, .swift-options {
	margin: 8px 7px !important;
}
.toggle-head {
	background-color: #fff;
	width: 150px;
	padding: 2px 5px;
	cursor: pointer;
	font-weight: bold;
}
.toggle-head > i {
	margin-left: 10px;
}
.imgs-btn {
	padding-top: 0 !important;
	font-size: 13px !important;
}
.box-art {
	margin-top: 8px !important;
}
/*.art-row .text-center {	
	position: relative;
}*/
.pt {
	padding-top: 20px;
}
.naziv-art {
	max-width: 452px;
	text-align: left !important;
}
.fixed-cat-menu {
	position: absolute;
    top: 0;
    left: 0;
    padding: 3px 17px;
    background-color: #6abc6a;
    z-index: 90;
    cursor: pointer;
    color: white;
    line-height: 9px;
    font-size: 12px;
}
.fixed-cat-menu:hover {
	opacity: 0.6;
}
.wide-articles {
	width: 100%;
	transition: all .3s ease;
}
.articles-content .articles-listing {
	margin: 0;
}
.JSeditSupport {
	width: 90%;
	margin: 10px;
}
.importuj {
	padding: 2px 10px !important;
	width: 100%;
}
.naziv-fix {
	width: 330px;
}
.news-pic {
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: auto;
}
.files-list {
	padding: 6px;
}
.files-list-items {
	float: right !important;
}
.files-list-items a:hover {
	color: #aaa;
}
.files-list-items a {
	color: blue;
	font-weight: bold;
}
.filter-files {
	padding: 10px;
	background-color: #eee;
}
.filter-files input {
	margin: 0 5px;
	padding: 0;
}
/*.articles-page .text-center {
	    margin-bottom: 5px;
}*/
.form-bottom-btn {
	text-align: center;
}
.form-bottom-btn-wide {
	width: 100%;
	margin-top: 2px !important;
}
.JSimages-head {
	margin-bottom: 0;
	width: 100%;
}
.upload-row {
	height: 80px;
}
.error-login {
	color: red; 
}
.items-order {
	margin: 20px 0 40px;
    overflow-x: auto;
}
.items-order table{
	table-layout: fixed;
	margin: 0;
    border-top: 0;
}
.items-order .mail-btn, .flat-box .mail-btn {
	display: inline-block;
    border: 1px solid #ddd;
    padding: 3px 5px;
    line-height: 1;
    background: #eaeaea;
    color: #000;
    font-size: 11px;
}
.items-order table tr td{
	overflow: hidden;
	padding: 3px;
}
.table_narudzbina .tab-width-0{
	width: 7%;
	overflow: visible;
}
.table_narudzbina .tab-width-1{
	width: 10%;
}
.table_narudzbina .tab-width-2{
	width: 20%;
}
.table_narudzbina .tab-width-3{
	width: 25%;
}
.table_narudzbina .tab-width-4{
	width: 40%;
}
/* CRM */
.crm-menu {
	background-color: #fff;
}
.crm-menu li:hover {
	background-color: #eee;
}
.crm-menu li a {
	padding: 10px;
}
.crm-head {
	background-color: #fff;
}
.crm-title {
	font-size: 36px;
	padding-left: 20px;
	font-family: inherit;
}
.crm-add {
	margin-top: 30px !important;
}
.btn-forgot-pass {
	background-color: #333 !important;
	font-weight: 400;
	opacity: 0.6;
	margin: 0;
	padding: 2px 10px !important;
	font-size: 12px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.73);
}
/*.registration-form label { 
	color: #333;  
	font-size: 14px;
}*/
.registration-form .error {
	font-weight: bold;
	font-size: 13px;
	margin-top: 5px;
	background: rgba(255, 255, 255, 0.33);
	color: #8f1515;
}
 
.naziv-web-big label {
	font-size: 15px;
	font-weight: bold;
}
.naziv-web-big input {
	font-size: 1em;
}
.article-edit-box {
	background: #fff;
	padding: 5px 0;
	box-shadow: 1px 1px 4px rgba(170, 170, 170, 0.54);
	margin-bottom: 10px !important;
}
.article-edit .m-subnav {
	margin-bottom: 0;
}
.article-edit .m-tabs {
	margin: 3px 0 5px 15px;
}
.karak-vrsta {
	margin-bottom: 0;
}
.b2b-cat {
	display: block !important;
}
.wide-b2b-art {
	width: 80%;
}
.title-big {
	font-size: 30px;
	font-weight: bold; 
	margin-bottom: 30px;
	font-family: 'Open Sans';
}
.title-med {
	font-size: 17px;
    margin: 5px 0;
    font-family: 'Open Sans';
    border-bottom: 1px solid #61c1ce;
    padding-bottom: 3px;
}
/*ORDERS*/

select[name^="web_kupac_id"] {
	max-width: 333px;
}
.btn[value^="Izmeni kupca"]{
	padding: 5px 15px;
	font-size: 12px;
}
.izmeni_kupca {
	padding: 5px 15px !important;
	padding-bottom: 4px !important;
	font-size: 12px !important;
}
/*.first-td{
	width: 100px;
}*/
.order-status {
    margin: 3px;
}
.order-status-p{
    padding: 0 5px;
    margin: 5px 2px;
    background-color: #ddd;
}
.order-label label{
	display: inline-block;
} 
.logo-b2b-login img{
    max-width: 100%;
    max-height: 100px;
    padding: 10px;
} 
.b2b-login label {
	font-size: 13px;
	color: #4d4d4d;
    margin: 0;
    display: block;
}
/*.b2b-registration-form input, .b2b-registration-form select {
    background-color: #fff;
    border: none;
    box-shadow: 0 0 3px #999;
    color: #333;
    font-size: 13px;
}*/
.b2b-registration-form input:focus, .b2b-registration-form select:focus, .login-form input.login-form__input:focus,
.forget-password:hover {
    background: #fff;
    box-shadow: 0 0 8px #ddd;
}
/*.b2b-registration-form h2 {
    color: #737373;
    font-size: 18px;
    border-bottom: 1px solid #737373;
    text-align: center;
}*/ 
.btn.forget-password,
.btn.became-partner  {
    border: 1px solid #ddd;
    font-size: 11px;
    padding: 5px 20px;
    color: black !important;
} 
.porudzbine_li_title {
	font-size: 12px;
	text-align: center;
}
/* TREE VIEW CATEGORIES */
.active-cat > a {
	text-transform: uppercase;
	font-weight: bold !important;
	color: #4073a3 !important;
    background: #d3d3d3;
}
.jstree-default .jstree-anchor {
	line-height: 24px;
	font-size: 12px;
	font-weight: 300;
	height: 23px;
	padding: 0 8px 0 0;
	margin: 0;
}    
.jstree-default > .jstree-striped {
	background: none !important;	
}
.hide {
	display: none;
}
.cats-show {
	display: block;
}
/*.select2-selection {
	overflow: hidden;
}*/
.h1-title {
	font-size: 27px;
    border-left: 7px solid rgb(255, 206, 86);
    padding: 1px 15px;
    color: rgb(94, 94, 94);
    font-family: 'Open Sans';
}
.fr {
	float: right;
}
.import-content .flat-box {
	margin: 0 !important;
}
.import-content .wrap {
	padding: 0px 4px 0px;
}
.import-content #unesi_nove {
    margin-top: 7px;
}
.import-content .group-choice {
    margin-top: 1px;
    margin-bottom: 7px;
}
.import-content input[type="file"] {
    margin: 0 0 5px 0;
}
.customer-name {
	margin-bottom: 2px;
}
.btn-radius {	
	margin: 0px 2px 0px -1px !important;
	border-top-right-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
}
.select-box {
	margin-top: 2px;
}
.fa {
	font-size: 15px;
    position: relative;
}
.grupe-page .columns {
	padding: 0 4px !important;
}
.grupe-page .flat-box ul {
	padding: 5px;
}
.grupe-page .nova-karak {
	padding-left: 10px;
}
.btns-od-do {	
	margin-top: 18px;
    margin-left: -6px;
}
.btns-od-do a {	
	line-height: 20px;
}
#search {
    display: inline-block;
    margin: 2px 0;
}
.orders-input button{
	position: absolute;
    top: 2px;
    right: 0;
}
.btn-abs, .btn-abs2 {
	top: 0;
    right: 0;
    position: absolute;
    margin: 2px 0 !important;
}
.btn-abs2 {
    right: 26px;
}
.col-h {
	height: 28px;
}
.search-group-row .btn-radius {
	margin-left: -4px !important;
}
#article-toggle {
	display: none;
}
.btn-settings {
    padding: 1px 6px !important;
    bottom: -35px;
    left: 16px;
    position: relative;
}
.btn-w-icons i {
	position: relative;
	top: 1px;
	left: -4px;
}
/*.mg-top-btns {	
	position: relative;
	top: -9px;
}*/
.mb {
	margin-bottom: 5px;
}
.mn {
	margin: 0 !important;
	padding: 0 !important;
}
.bsh {
	box-shadow: 2px 2px 3px rgba(170, 170, 170, 0.28);
}
.fa-question-circle {
	color: #6abc6a;
}
.sm-modal {
	width: 35% !important;
	top: 200px !important;
	padding: 50px 10px 40px 10px;
	min-height: 180px;
}
.xsm-modal {
	width: 500px;
}
.sm-modal .btn-xm {
	top: 0;
}
.reveal-modal .close-reveal-modal {
    font-size: 35px;
    top: 6px;
    right: 7px;
    color: #4c4c4c;
    line-height: 18px;
    outline-color: transparent !important;
}
.sm-modal div {
	padding: 0;
}
.sm-modal .btn {
	margin: 0 !important;
}
.modal-title-h4 {
	position: absolute;
    top: -3px;
    background: #d6d6d6;
    width: 100%;
    z-index: -1;
    left: 0;
    padding: 5px 12px;
    font-size: 15px;
    font-weight: bold;
    color: #575757;
}
.fl {
	float: left;
	margin-right: 5px;
}
.inp-sm {
	width: 140px !important;
}
/* KOMENTARI */
.comments-page table tbody tr td,
.comments-page table tr th,
.comments-page table tr td
{
    line-height: 1;
    padding: 6px;
    cursor: initial;
	max-width: 370px;
	overflow: hidden;
}
.comments-page textarea {
	min-height: 100px;
}
.comments-page .table-scroll{
	height: auto;
	overflow: hidden;
	overflow-x: scroll;
}
.comments-page table{
	width: 100%;
	table-layout: fixed;
}
.after-select-margin{
	margin: 10px 0;
}
.articles-page select {
	margin-top: 2px;
}
input.ordered-number{
    width: 30px;
    text-align: center;
    display: inline-block;
    padding: 0;
}
#mp_marza_but, #web_marza_but {
	height: 21px;
	line-height: 20px;
}
.flex-me{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex-me label{
	margin: 0;
    display: inline-block;
}
.manufacturers-img img{
    max-width: 100%;
    max-height: 200px;
    display: block;
    margin: 10px auto;
}
.manufacturer>span {
    margin: 10px;
}
/* Osobine */
.btn-edit-simple {
	padding: 4px 9px;
	border: 1px solid #ddd;
	margin: 0;
	color: #000 !important;
	background-color: #eee;
	font-size: 12px;
	transition: 0.2s ease-in-out;
}
.btn-edit-simple:hover {
	background-color: #fff;
	color: #999;
	border: 1px solid #61c1ce;
}
.inp-color {
	width: 40px !important;
	height: 40px !important;
	padding: 0px 2px !important;
	margin: 0 5px !important;
    display: inline-block !important;
}
.property {
	border-bottom: 1px solid #ddd;
    padding: 5px 0px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.property label{
	display: inline-block;
	margin: 0;
}
input[type="file"] {
    font-size: 11px;
}
.bg-img {
    max-width: 100%;
    max-height: 130px;
    margin: 15px auto;
    display: block;
    border: 2px solid #eee;
}
td .green {
	color: green !important;
}
td .red {
	color: red !important;
}
.akcija-a {
	background: #1095e6;
	color: #eee !important;
	font-weight: bold;
	padding: 0px 6px;
	border-radius: 3px;
}
.single-news-upload {
	background: white;
	border: 1px solid #ddd;
}
.second-table-import {
	height: 240px !important;
}
.second-table-import table{
	width: 100%;
}
.versions {
	font-size: 10px;
}
.modal-karak thead tr td {
	padding: 3px;
	font-weight: 300;
	font-size: 12px;
	text-align: center;
}
.modal-karak tbody td {
	text-align: center;
	vertical-align: middle;
}
.mid-ver {
	margin-top: 16px !important;
}
fieldset {
    border: 0px solid;
    margin: 0;
    padding: 0;
}
table tbody tr:nth-child(even) {
    background-color: rgba(228, 228, 228, 0.52);
}
.total-article-count .add-new-article {
	color: #fff;
}
#new-art{
	color: #000;
}
#prihvati_lager {
	padding: 1px 9px;
}
.scroll-tb {
	overflow: scroll;
    height: 500px;
}
.scroll-tb table tbody tr td, .scroll-tb table tr td {
    padding: 6px;
    text-align: center;
    cursor: auto;
}
/*  FAST EDIT BTNS */
.JSEditKolicinaBtn {
	position: absolute;
    top: 0px;
    right: 1px;
    display: none;
    background: #2fad5c !important;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    color: white !important;
    padding-top: 2px;
    padding-left: 3px;
}
.webimport-table .kolicina:hover .JSEditKolicinaBtn {
	display: block;
}
.webimport-table .kolicina {
	position: relative;
}
.JSEditKolicinaBtnSpan {
    width: 100%;
    top: 1px;
    height: 19px;
    z-index: 170;
    position: absolute;
    left: 0;
}
.JSkolicinaInput {
	display: none;
	position: absolute;
	left: 0;
    width: 58px !important;
    height: 19px !important;
}
/*//edit kolicina artiklima*/
.kolicina:hover .JSEditkolicinaBtn {
	display: block;
}
.kolicina {
	position: relative;
}
.JSEditkolicinaBtnSpan {
    width: 100%;
    top: 1px;
    height: 19px;
    z-index: 170;
    position: absolute;
    left: 0;
}
.JSkolicinaInput {
	display: none;
	position: absolute;
	left: 0;
    width: 38px !important;
    height: 19px !important;
}
/*end*/

.JSEditNazivBtn {
	position: absolute;
	top: 1px;
    left: 300px;
    display: none;
    background: #2fad5c !important;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    color: white !important;
    padding-top: 2px;
    padding-left: 3px;
}
.webimport-table .naziv:hover .JSEditNazivBtn {
	display: block;
}
.webimport-table .naziv {
	position: relative;
}
.JSEditNazivBtnSpan {
    width: 25px;
    top: 1px;
    height: 19px;
    z-index: 170;
    position: absolute;
    left: 1px;
}
.JSnazivInput {
	display: none;
	position: absolute;
	left: 0;
    width: 327px !important;
    height: 22px !important;
}
/* END */
#table_header {
	margin-bottom: 0;
}
/*  FAST EDIT BTN SIFRA */
.JSEditSifraBtn {
	position: absolute;
    top: 1px;
    right: 2px;
    display: none;
    background: #2fad5c !important;
    color: #fff !important;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    padding-top: 2px;
    padding-left: 3px;
}
.webimport-table .sifra:hover .JSEditSifraBtn {
	display: block;
}
.webimport-table .sifra {
	position: relative;
}
.JSEditSifraBtnSpan {
    width: 100%;
    top: 0px;
    height: 20px;
    z-index: 170;
    position: absolute;
    left: 0px;
}
.JSsifraInput {
	display: none;
	position: absolute;
	left: 0;
    width: 100% !important;
    height: 24px !important;
}
.btn-small-check {
	position: absolute;
    top: 26px;
    right: 15px;
    padding: 0px 10px;
    cursor: pointer;
	border: 1px solid #61c1ce;
    height: 21px;
}
#webImportGrupa {
	font-size: 12px !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #000;
    font-size: 12px;
}
input.select2-search__field, .select2, .select2-selection, .select2-selection__rendered {
    min-width: 90% !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 0;
}
.select2-container .select2-selection--single {
    height: 21px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 18px;
    font-size: 12px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 20px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    height: 24px;
    margin: 0;
}
.back-btn {
	border: 1px solid;
    padding: 5px 20px;
    margin: 7px;
}
.narudzbina-th-naziv {
	min-width: 197px;
    padding: 0 1px;
	text-align: center;
}
/*.rabat_group_edit {
	margin-top: 10px !important;
}*/
/*#rabat_group_edit-btn {
	margin-top: 7px !important;
}*/
.column .bordered-col {	
	border: 1px solid #d4d4d4;
	padding: 8px !important;
}
.JSrabat {
	display: inline !important;
    width: 50px !important;
    float: right;
	text-align: center;
}
/*.proizvodjaci-b2b {
	font-size: 13px;
    border: 1px solid #d4d4d4;
    margin: 17px;
}*/
.proizvodjaci-b2b li:nth-child(odd) {
	background: #eee;
}
.proizvodjaci-b2b li {
    padding: 2px 10px;
}
.proizvodjaci-b2b input[type="number"]::-webkit-outer-spin-button,
.proizvodjaci-b2b input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.proizvodjaci-b2b input[type="number"] {
    -moz-appearance: textfield;
}
/*  FAST EDIT BTN Naziv */
 .JSEditNaziv1Btn, .JSEditWebCenaBtn,.JSEditEndCenaBtn, .JSEditkolicinaBtn, .JSEditNazivBtn1{
	position: absolute;
	top: 1px;
    right: 0;
    display: none;
    background: #2fad5c !important;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    color: white !important;
    padding-top: 2px;
    text-align: center;
}
.JSEditkolicinaBtn{
	left: unset;
	right: 0;
}
.JSEditWebCenaBtn, .JSEditEndCenaBtn{
  	left: initial;
    right: 1px;
}
/*.JSEditNazivBtn1 {
	position: absolute;
	top: 1px;
    right: 0px;
    display: none;
    background: #2fad5c !important;
    width: 21px;
    height: 21px;
    border-radius: 4px;
    color: white !important;
    padding-top: 2px;
    padding-left: 3px;
}*/
.webimport-table .naziv1:hover .JSEditNaziv1Btn, .table-fixed-width1:hover .JSEditNaziv1Btn {
	display: block;
}
.JSEditNaziv1BtnSpan {
    width: 99%;
    top: 1px;
    height: 19px;
    z-index: 170;
    position: absolute;
    left: 1px;
}
.JSnaziv1Input {
	display: none;
	position: absolute;
	left: 0;
    width: 615px !important;
    height: 22px !important;
}
.WebCena, .EndCena{
	position: relative;
 }
 .WebCena:hover .JSEditWebCenaBtn, .JSEditEndCenaBtn{
 	display: block;
 }
.JSEditWebCenaBtnSpan, .JSEditWebCenaBtnSpan{
    width: 100%;
    top: 0px;
    height: 20px;
    z-index: 170;
    position: absolute;
    right: 0;
}
.JSWebCenaInput, .JSEndCenaInput{
	width: 60px !important;
}
 .cena{
	position: relative;
 }
 .cena:hover .JSEditCenaBtn{
 	display: block;
 }
.JSEditCenaBtnSpan{
	top: 8px;
    height: 20px;
    z-index: 170;
    position: absolute;
    right: 0;
    width: 100%;
}
.JSCenaInput{
	width: 95px !important;
}
.JSEditCenaBtn{
    position: absolute;
    top: 1px;
    left: 77px;
    display: none;
    background: #2fad5c !important;
    color: #fff !important;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    padding: 2px; 
 }
  /* *** Status narudzbine **** */
.on-hover-visible{
    font-size: 12px;
    display: block;
    counter-increment: counter;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 1px 0;
}
.on-hover-visible::before{
	content: counter(counter) '.';
	font-weight: bold;
	margin: 0 5px 0 0;
    color: #4d4d4d;
}
/*========================*/
.shop-logo{
    max-height: 30px;
    max-width: 100%;
}
 img{
    color: #bbb;
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.porudzbina-flex, .b2b-porudzbina-flex{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-flex-wrap: wrap;
	min-height: 25px;
    padding: 0 2px;
} 
/* *** Status narudzbine end **** */
/*==============================*/
/*.rabat_partner_edit_b2b, .art-row .discard{
    position: absolute;
    top: -2px;
    right: 0;
    height: 20px;
    line-height: 0;
    z-index: 1;
}*/
/*.art-row .discard{
	right: -60px;
	line-height: 13px;
    box-shadow: 1px 1px 0px 0px #ccc;
}*/
.rabat_partner_edit_btn{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.massEditRow select.inp-sm {
	width: 90% !important;
	margin: 0px 0px 15px 0px;
}
.btn-container .save-it-btn, .save-it-btn{
	background-color: #3a494e;
	color: #fff !important;
}
.btn-container .save-it-btn:hover, .save-it-btn:hover{
	background-color: #fff;
	color: #000 !important
}
/*==============*/
.trial-period{
    text-align: center;
    color: #ffffff;
    background: #f68938;
    max-width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 7px 0;
    font-size: 1em;
}
.trial-period a{
    display: inline-block;
    color: #000;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 2px;
    cursor: pointer;
    font-size: .9em;
    background: #dfe4e6;
    background: linear-gradient(#ffffff, #dfe4e6, #f6f7f7);
}
.trial-period a:hover{
	box-shadow: 1px 1px 5px #595959;
}
.time-left span{
    background: linear-gradient(#ffffff, #dfe4e6, #f6f7f7);
    color: #000;
    padding: 5px 12px;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 5px;
}
.cut-padding{
	padding: 0 5px;
}
/*==============*/
.table_narudzbina .ammount-input{
	width: 40px;
	text-align: center;
    padding: 0;
    height: 100%; 
	border-right: 0;
}
.article-custom-columns .loco{
	display: inline-block;
	position: relative;
	margin: 3px 5px 0 0px;
}
.article-custom-columns .first-col{
	width: 20%;
}
.article-custom-columns .second-col, .article-custom-columns .third-col, .article-custom-columns .fourth-col, .article-custom-columns .fifth-col, .article-custom-columns .sixth-col{
	width: 15%;
	overflow: hidden;
}
/*=========== TOOLTIP ====================*/
.tooltipz, .tooltipz-right, .tooltipz-left{
	position: relative;
}
.tooltipz[aria-label]:hover:after, .tooltipz-right[aria-label]:hover:after, .tooltipz-left[aria-label]:hover:after {
	content: attr(aria-label);
	position: absolute;
	z-index: 999;
	font-size: 11px;
    top: 100%;
    left: 50%;
    margin: 5px;
    font-weight: normal;
    white-space: nowrap;
	line-height: 1;
	text-align: center;
	border-radius: 5px;
	padding: 5px 8px;
	background-color: #2b3a41;
	color: #fff; 
    transform: translateX(-50%);
    font-family: 'Open Sans', sans-serif;
}
.tooltipz-right[aria-label]:hover:after{
	transform: translateX(0);
}
.tooltipz-left[aria-label]:hover:after{
    left: -50%;
}
/*============= SHORT PRODUCT ==================*/
.short-group-container, .rma-custom-select{
	position: relative;
}
.short-group-container > ul, .rma-custom-select > ul {
    font-size: 12px;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #3399ff;
    border-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 100%;
    z-index: 11;
    padding: 0;
}
.short-group-container ul li, .rma-custom-select > ul li{
    padding: 0 6px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.short-group-container ul li:hover, .rma-custom-select > ul li:hover{
	background-color: #3399ff;
	color: #fff;
}
.col-slika-ads a{
    color: red;
    cursor: pointer;
    padding: 0 5px;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
}
.col-slika-ads{
	box-shadow: 1px 1px 4px #ddd;
    position: relative;
    height: 100px;
    margin: 3px 0;
}
.col-slika-ads:hover{
	box-shadow: 1px 1px 5px #999;
}
.col-slika-ads img{
    max-width: 100%;
    max-height: 70px;
    padding: 5px;
    margin: auto;
    display: block;
}
.col-slika-ads input{
	margin: 5px;
}
.short-article-img img{
    max-width: 100%;
    max-height: 100px;
    margin: 5px;
    display: inline-block;
}
.GrupaKarakteristike ul li span{
	color: red;
}
.GrupaKarakteristike ul li{
	font-size: 14px;
}
.GrupaKarakteristike {
    max-height: 255px;
    overflow-y: scroll;
}
.short-product-action .column span{
    position: absolute;
    top: 25px;
    right: -5px;
    color: red;
    z-index: 3;
    padding: 0 5px;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
}
/*===============================*/
.custom-select-arrow{
	position: relative;
}
.custom-select-arrow:after{
    content: '';
	border-top: 0.2em solid #000;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    position: absolute;
    top: 42%;
    right: 10px;
}
/*=================================*/
.edit-modl-img {
	max-width: 100px;
}
.edit-modl-div {
	padding-top: 24px;
}
.edit-modl-div span {
	display: block;
}
/*======== LOADER =========*/
.JSads-loader { 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    z-index: 172;
}
.JSads-loader .ads-loader-inner{
    position: relative;
    width: 100%;
    height: 100%;
}
.JSads-loader .ads-loader-inner div{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.JSads-loader .loadSpiner {
	border: 5px solid #fff;
	border-radius: 50%;
	border-top: 5px solid #0080ff;
	border-bottom: 5px solid #0080ff;
	width: 80px;
	height: 80px;
    display: block;
    margin: 10px auto;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*============================*/
.table-groups-import table thead tr th, .table-groups-import table tbody tr td{
	display: inline-block;
    overflow: hidden;
    padding: 6px;
}
.table-groups-import table thead .rower th:nth-child(1), .table-groups-import table tbody .rower td:nth-child(1){
	 width: 10%;
}
.table-groups-import table thead .rower th:nth-child(2), .table-groups-import table tbody .rower td:nth-child(2),
.table-groups-import table thead .rower th:nth-child(3), .table-groups-import table tbody .rower td:nth-child(3){
	 width: 25%;
}
.table-groups-import table thead .rower th:nth-child(4), .table-groups-import table tbody .rower td:nth-child(4),
.table-groups-import table thead .rower th:nth-child(5), .table-groups-import table tbody .rower td:nth-child(5){
	 width: 8%;
	 overflow: visible;
}
/*=====================*/

/*============================*/
@media screen and (min-width: 1600px) {
	.b2b-orders .order-firm,
	.b2b-orders .order-payment,
	.b2b-orders .order-additional
	{ width: 10%; } 

	.b2b-orders .order-dates{ width: 6%; }
	.b2b-orders .order-product{ width: 17%; }

	.b2b-orders .order-price,
	.b2b-orders .order-place
	{ width: 8%; }

	.b2b-orders .order-phone,
	.b2b-orders .order-num,
	.b2b-orders .order-stat,
	.b2b-orders .order-more
	{ width: 5%; }

	.b2b-orders .order-shipment{ width: 12%; } 
	.b2b-porudzbina-flex{
		flex-wrap: nowrap;
	    -webkit-flex-wrap: nowrap;
	}
}
/*=========================*/
.abs-button{
	position: absolute;
	top: 0;
	right: 0;
}
.vert-align{ vertical-align: middle; }
/*====================*/
.rma-user-info p{
	font-size: 13px;
    margin: 0;
} 
.rma-work-descript table tr td, .rma-work-descript table tr th, .rma-predaja tr td{
    padding: 0 10px;
    max-width: 250px;
    overflow: hidden;
}
.modal-content .medium-6{
    padding: 0 5px;
}
.rma-custom-select > ul li span{
	display: inline-block;
    color: #333;
    margin: 0;
}
.rma-custom-select > ul li span:after{
	content: ', ';
	margin: 0 5px 0 0;
}
.rma-custom-select > ul li:hover > div span{
	color: #fff;
} 
.lineh { line-height: 1; }
.vert-al-top{ vertical-align: top; }
