:root{
	--btn_bg: #1e60b7;
	--btn_color: #fff;
	--a_href_color: #000; 	        
	--level_1_color: #4e4646;  		
	--product_price_color: #222;	
	--product_title_color: #30323A;	
	--footer_bg: #4e7ac7;		
	--header_bg: #fff;		
	--top_menu_bg: #4e7ac7;		
	--menu_bg: #4e7ac7;		
	--body_color: #222;		
	--body_bg: #fff;
	--top_menu_color: #fff;
	--h2_color: #30323A;
	--login_btn_bg: transparent;
	--login_btn_color: #000;
	--cart_number_bg: #F8694A;
	--categories_title_bg: #1e60b7;
	--categories_level_1_bg: #fff;
	--categories_level_2_bg: #fff;
	--level_2_color: #4e4646;
	--inner_body_bg: #fff;
	--product_bg: #fff; 
	--product_bottom_bg: #fff;
	--review_star_color: #D13E3B;
	--paragraph_color: #fff;
	--h5_color: #fff;
	--input_bg_color: #fff;
	--breadcrumb_bg: #f5f5f5;
	--product_list_bg: #f5f5f5;
	--currency_bg: #fff;
	--currency_color: #000;
	--filters_bg: #fff;
 	--pagination_bg: #fff;
 	--pagination_bg_active: #fff;
    --pagination_color_active:  #337ab7;
    --article_product_price_color: #D13E3B;
    --discount_price_color: #D13E3B;
    --add_to_cart_btn_bg: #F8694A;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: #4e7ac7;
    --add_to_cart_btn_bg_not_available: #f79888;
    --btn_hover_bg: #4e7ac7;
    --sale_action_price_bg: #F8694A;
  	--sale_action_bg: #1e60b7;
  	--product_old_price_color: #F8694A;
  	--label_color: #222;
  	--scroll_top_bg: #fff;
}

.JSsearch-button:hover, .JSsearch-button2:hover {
    background-color: #4e7ac7;
}
.legal-person-link-button:hover {
    background-color: #4e7ac7;
}
.div-in-header {
    padding: 15px 0px;
}
.top-menu-links li a:hover {
    color: #dcdbdb;
}
#main-menu li a:hover {
    color: #dcdbdb;
}
#b2b-login-icon:hover {
    color: #dcdbdb;
}
footer .newsletter button:hover {
	background-color: #1959af !important;
}
footer a:hover {
	color: #dcdbdb;
}
#JScategories .JSlevel-1 li a:hover {
    color: #e9493b;
}
 
.currency-btn {
	border-radius: 0px;
}
.open>.dropdown-menu {
    border-radius: 0px;
}
.add-to-cart-artikal {
    box-shadow: 0px 1px 3px 1px #d4d4d4;
    background-color: #ef5534 !important;
}
.add-to-cart-artikal:hover {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    box-shadow: 0px 1px 6px 1px #9e9e9e;
}
.product-tags div a {
    border-radius: 0px;
    padding: 3px 20px;
    margin: 15px 5px 10px 0px;
    background-color: #4e7ac7;
}
.nav-tabs>li>a {
    border-radius: 0px;
}
.JSinfo-popup .p-info, .confirm-popup p {
    border-radius: 0px;
    font-size: 18px;
    color: #4e7ac7;
}
.heading-background {
    border-bottom: 1px solid #f8694a;
    font-size: 22px;
    padding-bottom: 5px;
    text-transform: initial;
    color: #4e4646;
}
.h2-container h2 .heading-background:after {
    display: none;
}
.for-sale-price {
	background-color: #fff !important;
    color: #f8694a;
}
.JSproduct .shop-product-card .sale-label .for-sale {
    background: linear-gradient(#4d8de2,#3981e0,#2061b7);
    background: -webkit-linear-gradient(#4d8de2,#3981e0,#2061b7);
}
a:hover {
	color: #ef5534;
}
.cart-remove-all {
    background-color: #1e60b7;
}
.without-btn {
	border-radius: 0px;
}
 
.cart-remove .close, .JSheader-cart-content .close {
	width: initial;
    height: initial;
    padding: 3px 6px;
    border: 1px solid #bbb;
    opacity: 1;
    font-size: 14px;
    line-height: initial;
}
.cart-remove .close:hover, .JSheader-cart-content .close:hover {
	font-size: 14px;
	color: initial !important;
	background-color: initial;
	line-height: initial;
	padding: 3px 6px;
    border-color: gray;
}
.buy-btn {
	font-weight: normal !important;
}
.resp-nav-btn {
    border-color: #1e60b7;
    color: #1e60b7;
    padding: 8px 13px 6px;
}
.preheader-icons button {
    padding: 10px 8px;
}
form input {
	border-radius: 4px;
}
.JScategory-sidebar__list {
    padding: 10px 5px;
}
.category-name-link {
    font-weight: normal;
}
.category-heading {
    font-weight: bold;
}
.filter-box label {
	background: transparent;
}
a.JSreset-filters-button:hover {
	color: #dcdbdb;
}
.login-btn {
    padding: 6px 12px;
    border: 1px solid #bbb;
}
.JSproduct .shop-product-card .add-to-cart-container, .shop-product-card-list .add-to-cart-container {
    opacity: 1;
    visibility: visible;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-next {
    background-color: #b3b3b3;
}
#JSmain-slider .slick-prev, #JSmain-slider .slick-prev:hover {
    left: 10px;
}
#JSmain-slider .slick-next, #JSmain-slider .slick-next:hover {
    right: 10px;
}
.footer-logo img {
    max-width: 150px;
    padding: 0px;
}
@media screen and (min-width: 991px){
    #JScategories .JSlevel-1 > li:hover {
        border-left: 2px solid #4e7ac7;
}
    #JScategories .JSlevel-1 li:hover .JSlevel-2 {
        border-left: 2px solid #90b8ff;
    }
}
@media screen and (min-width:1024px) {
	.show-compered {
    	background-color: #4e7ac7;
    	border-radius: 0px;
	}
	.show-compered:hover {
    	background-color: #1e60b7;
	}
	.header-cart-container:hover .header-cart {
	    border-color: #bfbfbf;
	} 
}
