:root{
	--btn_bg: #ed1c24;
    --btn_color: #fff;
    --a_href_color: #000;
    --level_1_color: #605d5c;
    --product_price_color: #009ee0;
    --product_title_color: #605d5c;
    --footer_bg: #E5E4E2;
    --header_bg: #fff;
    --top_menu_bg: #ed1c24;
    --menu_bg: #605d5c;
    --body_color: #222;
    --body_bg: #E5E4E2;
    --top_menu_color: #E5E4E2;
    --h2_color: #333;
    --login_btn_bg: transparent;
    --login_btn_color: #fff;
    --cart_number_bg: #ed1c24;
    --categories_title_bg: #fff;
    --categories_level_1_bg: #fff;
    --categories_level_2_bg: #fff;
    --level_2_color: #222;
    --inner_body_bg: #fff;
    --product_bg: #fff;
    --product_bottom_bg: #fff;
    --review_star_color: #ed1c24;
    --paragraph_color: #fff;
    --h5_color: #fff;
    --input_bg_color: #fff;
    --breadcrumb_bg: transparent;
    --product_list_bg: #e5e4e2;
    --currency_bg: #fff;
    --currency_color: #000;
    --filters_bg: #fff;
    --pagination_bg: #fff;
    --pagination_bg_active: #fff;
    --pagination_color_active: #337ab7;
    --article_product_price_color: #ed1c24;
    --discount_price_color: #ed1c24;
    --add_to_cart_btn_bg: #ed1c24;
    --add_to_cart_btn_color: #fff;
    --add_to_cart_btn_bg_hover: #30323A;
    --add_to_cart_btn_bg_not_available: #f56167;
    --btn_hover_bg: #bf1a20;
    --sale_action_price_bg: #ed1c24;
    --sale_action_bg: #30323A;
    --product_old_price_color: #ed1c24;
    --label_color: #222;
    --scroll_top_bg: #fff;
    --global_color: #ed1c24;
	}